 .onestepcheckout-index-index .main-container {padding-top:0}
 .onestepcheckout-index-index .header-container .header .header-under {padding:0}
 .onestepcheckout-index-index .header-menu {display:none !important}
 .onestepcheckout-index-index .footer-payment-social {display:none}
 .onestepcheckout-index-index .validation-advice {
  color: #df280a;font-weight:normal
}

ol.checkout-agreements {
    margin-top: 10px;
}

.onestepcheckout-extraproducts {
    margin-top: 10px;
    margin-bottom: 10px;
}

.onestepcheckout-extraproducts span {
    font-weight: bold;
}

.onestepcheckout-extraproducts li {
    padding: 2px 0;
}



/* Button CSS */
.onestepcheckout-button, .onestepcheckout-button:visited {
    background: #222 url(images/button-background.png) repeat-x;
    display: inline-block;
    padding: 5px 10px 6px;
    color: #fff;
    text-decoration: none;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
    text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
    border: none;
    border-bottom: 1px solid rgba(0,0,0,0.25);
    position: relative;
    cursor: pointer;
}

    .onestepcheckout-button:hover                          { background-color: #111; color: #fff; }
    .onestepcheckout-button:active                         { top: 1px; }
    .small.onestepcheckout-button, .small.onestepcheckout-button:visited          { font-size: 11px; padding: ; }
    .onestepcheckout-button, .onestepcheckout-button:visited,
    .medium.onestepcheckout-button, .medium.onestepcheckout-button:visited        { font-size: 13px; font-weight: bold; line-height: 1; text-shadow: 0 -1px 1px rgba(0,0,0,0.25); }
    .large.onestepcheckout-button, .large.onestepcheckout-button:visited          { font-size: 16px; padding: 8px 30px 9px; }

    .green.onestepcheckout-button, .green.onestepcheckout-button:visited      { background-color: #91bd09; }
    .green.onestepcheckout-button:hover                        { background-color: #749a02; }
    .blue.onestepcheckout-button, .blue.onestepcheckout-button:visited        { background-color: #2daebf; }
    .blue.onestepcheckout-button:hover                         { background-color: #007d9a; }
    .red.onestepcheckout-button, .red.onestepcheckout-button:visited          { background-color: #e33100; }
    .red.onestepcheckout-button:hover                          { background-color: #872300; }
    .magenta.onestepcheckout-button, .magenta.onestepcheckout-button:visited      { background-color: #a9014b; }
    .magenta.onestepcheckout-button:hover                          { background-color: #630030; }
    .orange.onestepcheckout-button, .orange.onestepcheckout-button:visited        { background-color: #ff5c00; }
    .orange.onestepcheckout-button:hover                           { background-color: #d45500; }
    .yellow.onestepcheckout-button, .yellow.onestepcheckout-button:visited        { background-color: #ffb515; }
    .yellow.onestepcheckout-button:hover                           { background-color: #fc9200; }

    .grey.onestepcheckout-button, .grey.onestepcheckout-button:visited        { background-color: #cccccc; }
    .grey.onestepcheckout-button:hover                           { background-color: #cccccc; }



.onestepcheckout-place-order-loading {
    text-align: right;
    margin-top: 10px;
    font-style: italic;
}

select.address-select {
    margin-top: 3px;
    margin-bottom: 3px;
    width: 95% !important;
}

.onestepcheckout-enterprise {

}

.onestepcheckout-enterprise span.validation-error,.onestepcheckout-enterprise div.validation-error
    {
    padding-right: 0;
}

ul.onestepcheckout-custom-options {
    margin: 0;
    padding: 0;
    margin-left: 20px;
    list-style-type: disc;
}

.onestepcheckout-coupons input#id_couponcode {
    margin-bottom: 5px;
    width: 200px;
}

.onestepcheckout-giftcards input#id_giftcardcode {
    margin-bottom: 5px;
    width: 200px;
}

#onestepcheckout-form label {
    font-weight: normal !important;
}

.onestepcheckout-summary,.onestepcheckout-totals {
    border-collapse: collapse;
}

.onestepcheckout-totals {

}

.onestepcheckout-summary th,.onestepcheckout-summary,.onestepcheckout-summary td,.onestepcheckout-totals td
    {
    padding: 3px 0;
}

.onestepcheckout-summary th {
    border-bottom: 1px solid #BEBCB7;
    border-top: 1px solid #BEBCB7;
}

.onestepcheckout-totals td,.onestepcheckout-summary td {
    border-bottom: 1px solid #BEBCB7;
}

h1.onestepcheckout-title {
    font-size: 20px;
    text-transform: uppercase;
    color:#404040
}

p.onestepcheckout-description {
    font-size: 18px;
}

#onestepcheckout-form .group-select {
    padding: 20px !important;
}

/* layout */
.onestepcheckout-threecolumns {
    border-top: 1px solid #c1c1c2;
    margin: 10px 0px 0px 0px;
}
.onestepcheckout-column-padright {
    padding: 10px 15px 10px 0px;
}
.onestepcheckout-column-padleft {
    padding: 10px 0px 10px 15px;
}
.onestepcheckout-column-right {
    float: left;
    width: 34%;
}
.onestepcheckout-column-middle {
    float: left;
    width: 33%;
    background: url('images/line.png');
    background-repeat: no-repeat;
    background-position: right top;
    background-size: 1px;
}
.onestepcheckout-column-left {
    float: left;
    width: 33%;
    background: url('images/line.png');
    background-repeat: no-repeat;
    background-position: 97% top;
    background-size: 1px;
}



/* general */
.onestepcheckout-threecolumns input[type=email],
    .onestepcheckout-threecolumns input[type=search],
    .onestepcheckout-threecolumns input[type=number],
    .onestepcheckout-threecolumns input[type=password],
    .onestepcheckout-threecolumns input[type=tel],
    .onestepcheckout-threecolumns input[type=text],
    .onestepcheckout-threecolumns select, .onestepcheckout-threecolumns textarea
    {
    width: 98% !important;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    line-height: 1.5;
    font-size: 13px;
    height: 25px;
    padding: 0 8px;
    border-radius: 2px;
    border: 1px solid silver;
    background: #FFFFFF;
    padding: 0 8px;
}
.onestepcheckout-threecolumns div.osc-short input[type=email],
    .onestepcheckout-threecolumns div.osc-short input[type=search],
    .onestepcheckout-threecolumns div.osc-short input[type=number],
    .onestepcheckout-threecolumns div.osc-short input[type=password],
    .onestepcheckout-threecolumns div.osc-short input[type=tel],
    .onestepcheckout-threecolumns div.osc-short input[type=text],
    .onestepcheckout-threecolumns div.osc-short select {
    width: 98% !important;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    line-height: 1.5;
    font-size: 13px;
    height: 25px;
    padding: 0 8px;
    border-radius: 2px;
    border: 1px solid silver;
    background: #FFFFFF;
}
.onestepcheckout-threecolumns select {
    background-image: url(images/icon_arrow.svg) !important;
    background-position: 98% 50% !important;
    background-repeat: no-repeat !important;
    background-size: 18px !important;
    background: #fff;
    padding: 0 26px 0 8px !important;
    -webkit-appearance: none !important;
    -webkit-border-radius: 0 !important;
}
.onestepcheckout-column-right input[type=email],
    .onestepcheckout-column-right input[type=search],
    .onestepcheckout-column-right input[type=number],
    .onestepcheckout-column-right input[type=password],
    .onestepcheckout-column-right input[type=tel],
    .onestepcheckout-column-right input[type=text],
    .onestepcheckout-column-right select, .onestepcheckout-column-right textarea
    {
    width: 100% !important;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    line-height: 1.5;
    font-size: 13px;
    height: 25px;
    padding: 0 8px;
    border-radius: 2px;
    border: 1px solid silver;
    background: #FFFFFF;
    padding: 0 8px;
}
.oonestepcheckout-column-right div.osc-short input[type=email],
    .onestepcheckout-column-right div.osc-short input[type=search],
    .onestepcheckout-column-right div.osc-short input[type=number],
    .onestepcheckout-column-right div.osc-short input[type=password],
    .onestepcheckout-column-right div.osc-short input[type=tel],
    .onestepcheckout-column-right div.osc-short input[type=text],
    .onestepcheckout-column-right div.osc-short select {
    width: 100% !important;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    line-height: 1.5;
    font-size: 13px;
    height: 25px;
    padding: 0 8px;
    border-radius: 2px;
    border: 1px solid silver;
    background: #FFFFFF;
}

.onestepcheckout-threecolumns textarea {
    height: 75px;
}
.onestepcheckout-threecolumns div.dob-day, .onestepcheckout-threecolumns div.dob-month
    {
    width: 12%;
    float: left;
}
.onestepcheckout-threecolumns div.dob-year {
    width: 24%;
    float: left;
}
.onestepcheckout-threecolumns select.validation-failed {
    border: 1px solid #df280a;
}
.onestepcheckout-threecolumns label.required:after,
    .onestepcheckout-threecolumns span.required:after {
    content: '' !important;
}
.onestepcheckout-threecolumns div.input-box {
    margin: 0px 0px 8px 0px;
}
.onestepcheckout-threecolumns div.osc-short {
    width: 50%;
    float: left;
}
button.button span span {
    line-height: 19px;
}
button.button span {
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    height: auto !important;
}
button.onestepcheckout-place-order span span {
    font-size: 16px;
    padding: 8px 0px 8px 0px;
    text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.25);
    border: none;
    background: none;
}
button.onestepcheckout-place-order span {
    border: none;
    background: none;
}
button.onestepcheckout-place-order {
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    background: #f18200;
    border-bottom: 1px solid rgba(0, 0, 0, 0.25);
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
    width: 185px;
}
div.onestepcheckout-place-order-wrapper {
    margin: 20px 0px 13px 0px;
    text-align: right;
}
#addressreview div.onestepcheckout-place-order-wrapper {
    margin: 0px;
    text-align: right;
}
button.grey, button.grey:hover, button.grey:active, button.grey:focus {
    background: #999;
}
button.onestepcheckout-place-order:hover, button.onestepcheckout-place-order:active,
    button.onestepcheckout-place-order:focus {
    background-color: #FFA336;
}
.button2 {
    border: 0;
    padding: 0 5px;
    margin: 0;
    background: transparent;
    cursor: pointer;
    vertical-align: middle;
}
.button+.button {
    margin-left: 5px;
}
.button2 {
    border: 0;
    padding: 0 5px;
    margin: 0;
    background: transparent;
    cursor: pointer;
    vertical-align: middle;
}
.button2:focus {
    outline: none;
}
.button2 span, .button2 span span {
    line-height: 30px;
    text-decoration: underline;
    text-transform: uppercase;
    display: inline-block;
    font-family: "Raleway", "Helvetica Neue", Verdana, Arial, sans-serif;
}
.button2 span:hover, .button2 span span:hover {
    text-decoration: none;
    color: #246b8f;
}
div.loading-ajax, div.loading-ajax-login {
    height: 50px;
    text-align: center;
    background: url(images/ajax-loader.gif) no-repeat center center;
}
.onestepcheckout-place-order-loading {
    text-align: right;
    margin-top: 10px;
    padding-left: 20px;
    font-style: italic;
    background: url("images/ajax-loader.gif") no-repeat;
    display: inline-block;
}
.onestepcheckout-threecolumns input[type=checkbox],
    .onestepcheckout-threecolumns input[type=radio] {
    margin: -1px 6px 0px 0px;
}
div.onestepcheckout-extraproducts li, .checkout-agreements li {
    margin: 6px 0px 0px 0px !important;
}
.error-msg, .success-msg, .note-msg, .notice-msg {
    padding: 8px 8px 3px 33px !important;
    border-radius: 5px;
    margin-bottom: 10px !important;
}

.onestepcheckout-error {
    background-position: 4px 4px !important;
    padding: 2px 8px 2px 24px !important;
    border-radius: 5px;
    margin: 10px 6px 10px 0px !important;
    background-image: url(images/i_msg-error.gif);
    background-repeat: no-repeat;
    background-color: #f8edea;
    border: 1px solid #ea9580;
}

.error-msg {
    background-image: url(images/i_msg-error.gif);
    background-repeat: no-repeat;
}
.success-msg {
    background-image: url(images/i_msg-success.gif);
    background-repeat: no-repeat;
}
.addresslabel {
    padding: 3px 5px 5px 1px;
    display: block;
}


p.onestepcheckout-login-link {
    padding-top: 5px;
}

#onestepcheckout-email-error {
    width: 245px;
    clear: both;
    padding-top: 3px;
}

div.onestepcheckout-error {
    background-color: #FAEBE7;
    color: #DF280A;
    border: 1px solid #DF280A;
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: left;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 25px;
    background-image: url(images/onestepcheckout-error.jpg);
    background-repeat: no-repeat;
    background-position: 5px 5px;
}

.onestepcheckout-column-left .onestepcheckout-error {
    width: 85% !important;
}

div.onestepcheckout-enable-newsletter {
    margin-bottom: 10px;
    /*text-align: right;*/
}

div.onestepcheckout-enable-newsletter-bottom {
    margin-top: 20px;
    text-align: right;
}

div.onestepcheckout-enable-terms { /*text-align: right;*/
    margin-top: 10px;
}

table.onestepcheckout-summary {
    width: 100%;
}

table.onestepcheckout-summary td.name {
    width: 55%;
}

table.onestepcheckout-summary td.qty,table.onestepcheckout-summary th.qty
    {
    width: 10%;
    text-align: center;
}

table.onestepcheckout-summary td.total,table.onestepcheckout-summary th.total
    {
    width: 35%;
    text-align: right;
}

table.onestepcheckout-totals {
    width: 100%;
    margin-bottom: 20px;
}

table.onestepcheckout-totals tr.grand-total td {
    font-weight: bold;
}

table.onestepcheckout-totals td.title {
    width: 65%;
    text-align: right;
}

table.onestepcheckout-totals td.value {
    width: 35%;
    text-align: right;
}

div.onestepcheckout-place-order-wrapper {
    text-align: right;
    margin-top: 20px;
}

div.checkoutcontainer {
    border-top: 1px solid #D8D2C7;
    min-height: 33em;
    overflow: hidden;
}

div.checkoutcontainer .checkout-error-message {
    font-size: 14px;
    margin-left: 10px;
    color: red;
}

div.checkoutcontainer .payment-methods .form-list label {
    text-align: left !important;
}

div.checkoutcontainer div.input-error label {
    color: red !important;
}

div.checkoutcontainer div.input-error input,div.checkoutcontainer div.input-error select
    {
    border: 1px solid red !important;
}

div.checkoutcontainer div.input-different-shipping {
    margin-top: 10px;
}

div.checkoutcontainer div.input-address-short,div.checkoutcontainer div.input-firstname,div.checkoutcontainer div.input-lastname,div.checkoutcontainer div.input-email,div.checkoutcontainer div.input-telephone,div.checkoutcontainer div.input-company,div.checkoutcontainer div.input-fax,div.checkoutcontainer div.input-password
    {
    width: 49%;
    float: left;
}

div.checkoutcontainer li.taxvat .input-text {
    width: 83% !important;
}

div.checkoutcontainer div.input-address-short .input-text, div.checkoutcontainer div.input-firstname .input-text,div.checkoutcontainer div.input-lastname .input-text,div.checkoutcontainer div.input-email .input-text,div.checkoutcontainer div.input-telephone .input-text,div.checkoutcontainer div.input-company .input-text,div.checkoutcontainer div.input-fax .input-text,div.checkoutcontainer div.input-password .input-text
    {
    width: 70%;
}

div.checkoutcontainer div.input-address,div.checkoutcontainer div.input-city,div.checkoutcontainer li.taxvat div.input-box
    {
    width: 100% !important;
}

div.checkoutcontainer div.input-address .input-text,div.checkoutcontainer div.input-city .input-text
    {
    width: 83%;
}

div.checkoutcontainer div.input-postcode {
    width: 39%;
    float: left;
}

div.checkoutcontainer div.input-postcode .input-text {
    width: 70%;
}

div.checkoutcontainer div.input-region {
    width: 60%;
    float: left;
}

div.checkoutcontainer div.input-region .input-text {
    width: 77%;
}

div.checkoutcontainer div.input-country {
    width: 100%;
}

div.checkoutcontainer div.input-country select {
    width: 85%;
}

div.checkoutcontainer div.input-region select {
    width: 77% !important;
}

fieldset.group-select {
    padding: 10px 10px;
}

.group-select li {
    padding: 4px 0;
}

.shipment-methods dd {
    font-weight: bold;
    margin: 0 !important;
    margin-bottom: 3px;
    margin-top: 7px;
}

p.checkout-choose-payment-method,p.checkout-choose-shipping-method {
    margin-top: 1em;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 5px;
}

p.checkout-choose-payment-method {
    margin-top: 2em !important;
}

.payment-methods dd {
    padding: 0;
    padding-left: 20px;
}

.payment-methods dd li {
    padding: 0;
}

div.onestepcheckout-shipping-method {
    margin-bottom: 20px;
}

div.loading-ajax, div.loading-ajax-login {
    height: 50px;
    text-align: center;
    background-image: url(images/ajax-loader.gif);
    background-repeat: no-repeat;
    background-position: center center;
}

p.onestepcheckout-numbers {
    background-repeat: no-repeat;
    height: 35px;
    color: #404040;
    text-transform: uppercase;
    padding-top: 6px;
    padding-left: 38px;
    font-size: 15px;
    font-weight: bold;
}

p.onestepcheckout-numbers-1 {
    background-image: url(images/onestepcheckout-numbers-1.png);
}

p.onestepcheckout-numbers-2 {
    background-image: url(images/onestepcheckout-numbers-2.png);
}

p.onestepcheckout-numbers-3 {
    background-image: url(images/onestepcheckout-numbers-3.png);
}

p.onestepcheckout-numbers-4 {
    background-image: url(images/onestepcheckout-numbers-4.png);
}

div.onestepcheckout-skin-magento .onestepcheckout-numbers {
    padding-top: 0px !important;
    padding-left: 28px !important;
    height: 25px !important;
    text-transform: capitalize !important;
    color: #F18200 !important;
    font-size: 13px !important;
}

div.onestepcheckout-skin-magento p.onestepcheckout-numbers-1 {
    background-image: url(images/skin-magento/onestepcheckout-numbers-1.png)
        !important;
}

div.onestepcheckout-skin-magento p.onestepcheckout-numbers-2 {
    background-image: url(images/skin-magento/onestepcheckout-numbers-2.png)
        !important;
}

div.onestepcheckout-skin-magento p.onestepcheckout-numbers-3 {
    background-image: url(images/skin-magento/onestepcheckout-numbers-3.png)
        !important;
}

div.onestepcheckout-skin-magento p.onestepcheckout-numbers-4 {
    background-image: url(images/skin-magento/onestepcheckout-numbers-4.png)
        !important;
}

/* Popup CSS */
#onestepcheckout_popup_overlay_iframe {
    z-index: 100000;
    background-color: black;
    opacity: 0.8;
    filter: alpha(opacity =   80);
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    right: 0;
}

#onestepcheckout_popup_overlay {
    z-index: 1000000;
    background-color: black;
    opacity: 0.8;
    filter: alpha(opacity =   80);
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    right: 0;
    cursor: pointer;
}

#onestepcheckout-toc-popup {
    width: 482px;
    height: 530px;
    position: absolute;
    z-index: 1000001;
}

#onestepcheckout-toc-popup .onestepcheckout-popup-wrapper {
    height: 515px !important;
}

#onestepcheckout-toc-popup div.onestepcheckout-popup-contents {
    overflow: auto;
    height: 450px;
}

#onestepcheckout-toc-popup h1 {
    margin-left: 20px;
}

#onestepcheckout-toc-popup .onestepcheckout-toc-terms {
    margin: 20px;
    margin-top: 0 !important;
    height: 440px !important;
    overflow: auto;
    padding-right: 10px;
}

#onestepcheckout-login-popup,#onestepcheckout-toc-popup {
    text-align: left !important;
}

.onestepcheckout-popup-footer {
    background-image: url(images/onestepcheckout-popup-footer.png);
    background-repeat: no-repeat;
    height: 13px;
}

.onestepcheckout-popup-wrapper {
    background-image: url(images/onestepcheckout-popup-header.png);
    *background-image: url(images/onestepcheckout-popup-header.png)
        !important;
    background-repeat: no-repeat;
}

.onestepcheckout-popup-wrapper h1 {
    font-size: 18px !important;
    padding-bottom: 10px !important;
    padding-top: 15px !important;
}

.onestepcheckout-popup-contents {
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 0;
    padding-bottom: 1px;
}

.onestepcheckout-popup-wrapper label {
    font-weight: normal;
}

.onestepcheckout-popup-wrapper .input-text {
    width: 190px !important;
}

#onestepcheckout-forgot-table td {
    vertical-align: middle !important;
}

/* Popup CSS (login link) */
#onestepcheckout-login-popup {
    width: 482px;
    position: absolute;
    z-index: 1000001;
    /*position: fixed;*/
}

#onestepcheckout-login-popup table {
    width: 99%;
}

#onestepcheckout-login-popup table td {
    padding-top: 3px;
    padding-bottom: 3px;
}

#onestepcheckout-login-popup button {
    padding: 3px 10px;
}

#onestepcheckout-login-popup div.onestepcheckout-popup-contents {

}

#onestepcheckout-login-popup p.close,#onestepcheckout-toc-popup p.close
    {
    font-size: 15px;
    text-transform: uppercase;
    font-weight: bold;
    position: absolute;
    right: 10px;
    bottom: -5px;
}

#onestepcheckout-login-popup p.close a,#onestepcheckout-login-popup p.close a:link,#onestepcheckout-login-popup p.close a:visited,#onestepcheckout-toc-popup p.close a,#onestepcheckout-toc-popup p.close a:link,#onestepcheckout-toc-popup p.close a:visited
    {
    text-decoration: none;
    color: black;
}

#onestepcheckout-login-popup p.close a:hover,#onestepcheckout-toc-popup p.close a:hover
    {
    text-decoration: underline;
}

#onestepcheckout-login-error,#onestepcheckout-forgot-error {
    color: red;
    margin-bottom: 10px;
}

div.onestepcheckout-comments {
    margin-top: 5px;
    margin-bottom: 20px;
}

div.onestepcheckout-comments textarea {
    margin-top: 5px;
    width: 95%;
}

/* onestepcheckout-twocolumns */
.onestepcheckout-two-columns .onestepcheckout-column-left {
    width: 47%;
    float: left;
    margin-right: 30px;
    background: transparent url(images/line-gradient.gif) no-repeat scroll
        right top;
}

.onestepcheckout-two-columns .onestepcheckout-column-right {
    width: 43%;
    float: left;
}

.onestepcheckout-two-columns p.onestepcheckout-numbers {
    margin-top: 20px !important;
}

.onestepcheckout-two-columns div.onestepcheckout-enable-terms {
    text-align: center !important;
}

.onestepcheckout-two-columns div.onestepcheckout-place-order-wrapper {
    text-align: center !important;
    margin-top: 10px !important;
}

.onestepcheckout-two-columns div.onestepcheckout-enable-newsletter {
    text-align: center !important;
}

.checkoutcontainer .payment-methods .input-box {
    width: 100% !important;
}

.checkoutcontainer .payment-methods .input-box .input-text,.checkoutcontainer .payment-methods .input-box textarea,.checkoutcontainer .payment-methods .input-box select
    {
    width: 95% !important;
}

.checkoutcontainer .payment-methods .input-box select.year,.checkoutcontainer .payment-methods .input-box select#protxDirect_expiration_yr,.checkoutcontainer .payment-methods .input-box select#protxDirect_start_yr
    {
    width: 75px !important;
}

.checkoutcontainer .payment-methods .input-box select.month,.checkoutcontainer .payment-methods .input-box select#protxDirect_start,.checkoutcontainer .payment-methods .input-box select#protxDirect_expiration
    {
    width: 140px !important;
}

.checkoutcontainer li.shipping-address-title {
    font-family: Arial;
    font-size: 16px;
    text-transform: uppercase;
    color: #404040;
    font-weight: bold;
    padding-top: 5px;
}

.onestepcheckout-giftmessagecontainer {
    margin-bottom: 10px;
}

.onestepcheckout-giftmessagecontainer .input-checkbox {
    /*text-align: right;*/

}

#onestepcheckout-giftmessages .onestepcheckout-giftmessages fieldset.group-select {
    padding: 0 !important;
    border: 0 !important;
    margin: 0 !important;
}

.onestepcheckout-giftmessages .group-select li .input-box-last {
    margin-right: 0 !important;
}

.onestepcheckout-giftmessages .group-select li .input-box {
    width: 125px;
    margin-right: 20px;
}

.onestepcheckout-giftmessages .group-select li .input-box .input-text {
    width: 120px;
}

.onestepcheckout-giftmessages .group-select li textarea {
    width: 267px;
}

.onestepcheckout-address-line {
    margin-bottom: 10px;
}

.onestepcheckout-column-left .customer-dob .dob-month,.onestepcheckout-column-left .customer-dob .dob-day,.onestepcheckout-column-left .customer-dob .dob-year
    {
    float: left;
}

.onestepcheckout-column-left .customer-dob input.input-text {
    display: block;
    width: 74px;
}

.onestepcheckout-column-left .customer-dob label {
    font-size: 10px;
    font-weight: normal;
    color: #888;
}

.onestepcheckout-column-left .customer-dob .dob-day,.onestepcheckout-column-left .customer-dob .dob-month
    {
    width: 60px;
}

.onestepcheckout-column-left .customer-dob .dob-day input.input-text,.onestepcheckout-column-left .customer-dob .dob-month input.input-text
    {
    width: 46px;
}

.onestepcheckout-column-left .customer-dob .dob-year {
    width: 110px;
}

.onestepcheckout-column-left .customer-dob .dob-year input.input-text {
    width: 115px;
}
.onestepcheckout-feedback, .onestepcheckout-feedback-freetext {
    padding-top: 10px;
}
.onestepcheckout-feedback select {
    width:95%;
}
.onestepcheckout-feedback-freetext textarea{
    width:95%;
}
.onestepcheckout-coupon-code-notice {
}
#control_overlay {
    background-color:#000;
}

.modal {
    background-color:#fff;
    padding:10px;
    border:1px solid #333;
}
#addressreview {
    width: 750px;
    min-height: 430px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    background: #E9EAEE;
    border: 2px solid white;
    padding: 15px 40px 20px 40px;
    margin: 0 auto;
    text-align: left;
    box-shadow: 1px 2px 6px rgba(0,0,0, 0.5);
    -moz-box-shadow: 1px 2px 6px rgba(0,0,0, 0.5);
    -webkit-box-shadow: 1px 2px 6px rgba(0,0,0, 0.5);
    position:relative;
}
#addressreview .leftcol{
    float: left;
    width: 200px;
}
#addressreview .rightcol{
    float: left;
    width: 540px;
}
#addressreview h4 {
    padding-top: 15px;
    padding-bottom: 3px;
    font-size: 16px;
}
#addressreview #buttons {
    position: absolute;
    right: 40px;
    bottom: 20px;
}
#addressreview #buttons div {
    float: left;
    zoom: 1;
    margin: 0px 10px 0px 10px;
}
#addressreview_summary div.data {
    height: 375px;
    overflow-y: auto;
    padding-right: 2px;
}
.checkout-agreements li {
    margin: 0;
}
.checkout-agreements .agree {
    margin: 0;
    padding: 0;
}
.agreement-content {
    overflow: auto;
    text-align:left;
}

/* breakpoints */
@media only screen and (max-width: 620px) , ( max-width : 600px) , ( max-width
        : 599px) , ( max-width : 699px) , ( max-width : 740px) , (
        max-width : 850px) {
    .wrapper {
        width: 100%;
        min-width: 320px;
    }
    .main {
        width: 93%;
        min-width: 320px;
        margin: 0;
    }
    .onestepcheckout-column-padright {
        padding: 10px 15px 10px 0px;
    }
    .onestepcheckout-column-padleft {
        padding: 10px 0px 10px 0px;
    }
    .onestepcheckout-column-right {
        clear: both;
        float: none;
        background: none;
        width: 100%;
    }
    .onestepcheckout-column-left {
        width: 50%;
    }
    .onestepcheckout-column-middle {
        width: 49%;
        background: none;
        float: right;
    }
    div.onestepcheckout-place-order-wrapper {
        margin: 20px 0px 13px 0px;
        text-align: center;
    }
    table.onestepcheckout-summary td.name {
        width: 85%;
    }
}
@media only screen and (max-width: 320px) , ( max-width : 420px) , ( max-width
        : 450px) , ( max-width : 479px) , ( max-width : 499px) , (
        max-width : 520px) , ( max-width : 535px) {
    .wrapper {
        width: 100%;
        min-width: 295px;
    }
    .main {
        width: 100%;
        min-width: 285px;
        margin: 0;
    }
    
    #onestepcheckout-form .group-select {padding:10px !important}
    .onestepcheckout-column-padleft, .onestepcheckout-column-padright {
        padding: 10px 0px 10px 0px;
    }
    .onestepcheckout-column-middle, .onestepcheckout-column-left,
        .onestepcheckout-column-right {
        float: none;
        background: none;
        width: 100%;
    }
    div.onestepcheckout-place-order-wrapper {
        margin: 20px 0px 13px 0px;
        text-align: center;
    }
    div#onestepcheckout-login-popup.login-modal {
        min-width: 300px;
        max-width: 300px;
    }
    .input-slotpicker {
        width: 33%;
    }
    #addressreview_shippinga, #addressreview_payment,
        #addressreview_billinga, #addressreview_shipping {
        width: 100%;
        float: none;
        margin-bottom: 20px;
    }
}
