/* make sure the level0 li in jstree is always indented */
.jstree ul.level0 li {
    margin-left:18px !important;
}
.catalognav a:hover, li.active a { color:#000; }
.catalognav a:hover { background:#fff; }

.catalognav a {
    display: block;
	text-decoration: none;
	border-right: 0; /* negates right border for dropdowns and flyouts */
	padding:3px 0;
	color:#000;
}

.catalognav .dropdown a {
    border-bottom: 0;  /* borders the bottoms of the dropdown and flyout links */
}
/*XXXXXXXXXXXX Primary top nav rules XXXXXXXXXXX*/

.catalognav {
	position: relative;
	width: 100%;
	}

.catalognav .level-top {
	width: 100%;
	}
.catalognav .level-top:hover {
        background:#A76DD6;
        color:#FFFFFF;
}	
.catalognav ul.block-content li { z-index:0; }
.catalognav .parent-div {position: relative;}
/* this parent div does not provide "sticky hovering", but instead fixes a
strange bug in Op7. When an element serves as a hovered popup "parent" element,
that element must not also be floated or all heck breaks loose in Opera 7.
To prevent this, we have floated the top level list items, while nesting
hoverable parent divs inside that are then hovered to generate the dropdowns.
Thus the ugly (but interesting) Op7 bug is defeated. */

.catalognav .floatfix {margin-right: -3px;}
/* this fixes the IE 3px bug that is common in this type of float arrangement */

/*XXXXXXXXXXXX Primary dropdown/flyout rules XXXXXXXXXXX*/

.catalognav .dropdown { /* rules for dropdown div */
	width: 250px;
	position: absolute;
	left: -3000px;
	top: auto; /* puts dropdowns directly under top nav */
	text-align: left; /* needed because IE misapplies text centering to boxes */
	background:#fff;
	background-color: transparent;
	}

.catalognav .dropdown div {
	width: 220px;
	position: absolute;
	left: -3000px;
	top: 0;
	background:#fff;
	text-align: left; /* needed because IE misapplies text centering to boxes */
	}

/* The margins on the UL's replace the div paddings to create "sticky hovering"
zones,  and the margins should "fill" the divs, making the IE BG fix unnecessary.
Unfortunately the BG fix is still needed, altho this method does eliminate
possible box model problems */

.catalognav .dropdown ul {
  width: 250px;
  margin: 0px 30px 30px 30px; /* creates "sticky hovering" zones for dropdowns */
  padding:6px;
  border: 1px solid #888;
  border-width: 1px;
  background-color: #F8F7F5;
  } /* borders sides and top of the dropdowns and flyouts; links provide the bottom border */

.catalognav .dropdown div ul {margin: 0px 30px 30px 0;} /* creates "sticky hovering" zones for flyouts */

.catalognav li {}

.catalognav .dropdown li {
  position: relative;
  vertical-align: bottom; /* IE5/win bugfix */
  }

.catalognav li.level-top:hover {background-image: url(../images/qingluo/bgfix.gif);}
/* this hover calls a transparent GIF only to defeat the IE failed hover bug. Any
background change on hovering div.parent will make IE obey and display the dropdown.
While the call itself will fix the bug, make sure you actually call a real image
file so that your site error logs will not fill with failed image calls. */

.catalognav li.level-top:hover div.dropdown, .catalognav li.hover div.dropdown {left: 195px; top: 0px;} /* hover rule for dropdowns */
/* extra pixel makes dropdowns "line up" with top links */

.dropdown li:hover div, .dropdown li.hover div { /* hover rule for flyouts */
	left: 22px; /* this value controls the amount of flyout "overlap" */
	}

.catalognav div.mini-zone { /* special hover zone that covers the "danger corner" */
  padding: 0;
  width: 15px;
	height: 15px;
	font-size: 1px;
	left: -3000px;
	bottom: -15px;
	top: auto;
	background: url(../../images/qingluo/bgfix.gif);
	}

.catalognav .dropdown li:hover div.mini-zone { /* hover rule for mini-zones */
	left: auto;
	right: 8px;
	top: auto;
	}

.catalognav .dropdown li:hover {} /* hover color effect on dropdown links */

.catalognav .dropdown ul li a:hover { background:#A76DD6; color:#fff; } /* hover color effect on flyout links */
.catalognav .dropdown ul li a { padding:2px; }
