<?php
/**
 * @package ET_Ajax
 * @version 1.0.4
 * @copyright Copyright (c) 2014 EcomTheme. (http://www.ecomtheme.com)
 * @license http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 */

/**
 * Product view template
 *
 * @see Mage_Catalog_Block_Product_View
 * @see Mage_Review_Block_Product_View
 */
?>
<?php  
 $_helper = $this->helper('catalog/output'); ?>
<?php $_product = $this->getProduct(); ?>
<script type="text/javascript">
    optionsPrice = new Product.OptionsPrice(<?php echo $this->getJsonConfig() ?>);
</script>
<div id="messages_product_view"><?php echo $this->getMessagesBlock()->getGroupedHtml() ?></div>
<div class="product-view">
    <div class="product-essential row">
        <div class="product-img-box col-lg-5 col-md-5 col-sm-4 col-xs-10 col-xs-offset-1 col-md-offset-0">
            <?php echo $this->getChildHtml('media') ?>			
        </div>
		<form class="col-lg-7 col-md-7 col-sm-7 col-xs-12" action="<?php echo $this->getSubmitUrl($_product) ?>" method="post" id="product_addtocart_form"<?php if($_product->getOptions()): ?> enctype="multipart/form-data"<?php endif; ?>>
			<?php echo $this->getBlockHtml('formkey') ?>
			<div class="no-display">
				<input type="hidden" name="product" value="<?php echo $_product->getId() ?>" />
				<input type="hidden" name="related_product" id="related-products-field" value="" />
			</div>

			<div class="product-shop">
				<?php echo $this->getReviewsSummaryHtml($_product, false, true); ?>
				<div class="product-name">
					<h1><?php echo $_helper->productAttribute($_product, $_product->getName(), 'name') ?></h1>
                                    <i class="product-sku">SKU:<?php
                        $sku = explode(",",$_product->getSku());
                        $reallSku = explode(" ",$sku[0]);
                                    echo $reallSku[0]; ?></i>

				</div>

				
				<?php echo $this->getTierPriceHtml(); ?>
                <?php echo $this->getChildHtml('alert_urls'); ?>
                <?php echo $this->getChildHtml('product_type_data'); ?>
                <?php echo $this->getChildHtml('extrahint'); ?>
				
				<?php if ($this->getChildHtml('description')): ?>
					<div class="short-description">
						<div class="std"><?php echo $this->getChildHtml('description');//$_helper->productAttribute($_product, nl2br($_product->getShortDescription()), 'short_description'); ?></div>
					</div>
				<?php endif; ?>			
				
				<?php if (!$this->hasOptions()):?>
					<div class="add-to-box">
						<?php if($_product->isSaleable()): ?>
							<?php echo $this->getChildHtml('addtocart') ?>
							<?php if( $this->helper('wishlist')->isAllow() || $_compareUrl=$this->helper('catalog/product_compare')->getAddUrl($_product)): ?>
							<?php endif; ?>
						<?php endif; ?>
						<?php echo $this->getChildHtml('addto') ?>
					</div>
					<?php echo $this->getChildHtml('extra_buttons') ?>
				<?php elseif (!$_product->isSaleable()): ?>
					<div class="add-to-box">
						<?php echo $this->getChildHtml('addto') ?>
					</div>
				<?php endif; ?>
				<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5ac6bf37b5a56211"></script>
                                <div class="addthis_inline_share_toolbox"></div>
				<?php echo $this->getChildHtml('other');?>

				<?php if ($_product->isSaleable() && $this->hasOptions()):?>
					<?php echo $this->getChildChildHtml('container1', '', true, true) ?>
				<?php endif;?>

			</div>

			<div class="clearer"></div>
			<?php if ($_product->isSaleable() && $this->hasOptions()):?>
				<?php echo $this->getChildChildHtml('container2', '', true, true) ?>
			<?php endif;?>
		</form>
		
		<?php if ( $this->getLayout()->createBlock('cms/block')->setBlockId('block-service-detail')->toHtml() ) {?>
		<div class="detail-service col-lg-2 col-md-2 col-sm-12 col-xs-12">
			<?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('block-service-detail')->toHtml(); ?>
		</div>
		<?php }?>
		
		<script type="text/javascript">
		//<![CDATA[
			productAddToCartForm = new VarienForm('product_addtocart_form');
			productAddToCartForm.submit = function(button, url) {
				if (this.validator.validate()) {
					var form = this.form;
					var oldUrl = form.action;

					if (url) {
					   form.action = url;
					}
					var e = null;
					try{
    					if (isFrame){
                    		// form = $('product_addtocart_form');
                    		window.top.checkout_cart_add(form, 'form');
                    	} else {
                    		window.checkout_cart_add(form, 'form');
                    	}
					} catch(e) {
					}
					this.form.action = oldUrl;
					if (e) {
						throw e;
					}
				}
			}.bind(productAddToCartForm);

			productAddToCartForm.submitLight = function(button, url){
				if(this.validator) {
					var nv = Validation.methods;
					delete Validation.methods['required-entry'];
					delete Validation.methods['validate-one-required'];
					delete Validation.methods['validate-one-required-by-name'];
					// Remove custom datetime validators
					for (var methodName in Validation.methods) {
						if (methodName.match(/^validate-datetime-.*/i)) {
							delete Validation.methods[methodName];
						}
					}

					if (this.validator.validate()) {
						if (url) {
							this.form.action = url;
						}
						this.form.submit();
						var e = null;
						try{
	    					if (isFrame){
	                    		// form = $('product_addtocart_form');
	                    		window.top.handleWishlist(form, 'form');
	                    	} else {
	                    		window.handleWishlist(form, 'form');
	                    	}
						} catch(e) {
						}
					}
					Object.extend(Validation.methods, nv);
				}
			}.bind(productAddToCartForm);
		//]]>
		</script>
    </div>
    
    <div class="product-collateral">
		<div class="product-tab-detail">
		    <?php
		    $custom_tab = Mage::helper('edge')->getConfig('custom_tab');
		    if ($custom_tab) {
                $custom_tab_name = Mage::helper('edge')->getConfig('custom_tab_name');
                $custom_tab_content = Mage::helper('edge')->getConfig('custom_tab_content');
                if (!$custom_tab_name){
                    $custom_tab = false;
                }
                if (!$custom_tab_content) {
                    $custom_tab = false;
                } else {
                    $custom_tab_content = Mage::helper('cms')->getBlockTemplateProcessor()->filter($custom_tab_content);
                }
            }
		    ?>
			<ul id="product_tab_nav" class="product-tab-nav">
				<?php if($product_additional_data = $this->getChildHtml('product_additional_data')): ?>
				<li class="active">
					<a data-toggle="tab" href="#tab_tags"><?php echo $this->__('Tags') ?></a>
				</li>
				<?php endif; ?>
				<?php if($review_form = $this->getChildHtml('review_form')): ?>
				<li>
					<a data-toggle="tab" href="#tab_reviewform"><?php echo $this->__('Review') ?></a>
				</li>
				<?php endif; ?>
				<?php if ($_additional = $this->getChildHtml('additional')):?>
				<li>
					<a data-toggle="tab" href="#tab_additional"><?php echo $this->__('Additional') ?></a>
				</li>
				<?php endif; ?>
				
				<?php if ($custom_tab): ?>
				<li>
					<a data-toggle="tab" href="#tab_custom"><?php echo $custom_tab_name; ?></a>
				</li>
				<?php endif; ?>
			</ul>
			<div class="tab-content">
				
				<?php if( $product_additional_data ): ?>
				<div id="tab_tags" class="tab-pane fade in active">
					<?php echo $product_additional_data; ?>
				</div>
				<?php endif;?>
				<?php if( $review_form ): ?>
				<div id="tab_reviewform" class="tab-pane fade">
					<?php echo $this->getChildHtml('product_reviews');?>
					<?php echo $review_form; ?>
				</div>
				<?php endif;?>
				<?php if ( $_additional ) : ?>
				<div id="tab_additional" class="tab-pane fade">
					<?php echo $_additional ?>
				</div>
				<?php endif;?>
				
				<?php if ($custom_tab): ?>
				<div id="tab_custom" class="tab-pane fade">
					<?php echo $custom_tab_content; ?>
				</div>
				<?php endif; ?>
			</div>
		</div>
		<?php
		$show_related_products = Mage::helper('edge')->getConfig('show_related_products', true);
		$show_upsell_products = Mage::helper('edge')->getConfig('show_upsell_products', true);
        if ($show_upsell_products){
            echo $this->getChildHtml('upsell_products');
        }		
		if ($show_related_products){
            echo $this->getChildHtml('related_products');
        }
		?>
    </div>
</div>
