/* Custom css for et_slider */

.et-slider-container{
	position: relative;
	overflow: hidden;
}

.et-slider-container .loading-screen{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.et-slider-container .loading-screen .transparency{
	filter: alpha(opacity = 70);
	opacity: 0.7;
	position: absolute;
	display: block;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.et-slider-container .loading-screen .loading-mask{
	background: url(../img/loading.gif) no-repeat center center;
	position: absolute;
	display: block;
	top: 0; 
	left: 0; 
	width: 100%; 
	height: 100%;
}

.et-slider-slides{
	position: absolute;
	display: block;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	cursor:move;
	overflow: hidden;
}