/*footer colors*/
.footer-container .footer {
	background: #a76dd6;
	color: white!important;
}
.footer-container .footer .footer-under {background: #503169;}

.home_style1 .menu-nav{
	padding-left: 0;
}

img{
	max-width: 100%;
}

@media (min-width: 992px) and (max-width: 1199px) {
	.home_style1 #meganav > li > a,
	#meganav > li > a {
		padding: 16px 18px;
	}

}

@media (max-width: 767px) {
	.header-container .header .header-top .header-account{width: 125px;}
}
/*header cart link*/
.header .header-cart{
	margin: 0;
}
	.header .header-cart .block-cart{
		margin: 0;
	}
	.header .header-cart .header-cart-title,
	.header .header-cart .header-cart-title .fa-shopping-cart,
	.header .header-cart .header-cart-title .badge{
		height: 40px;
	}
	.header .header-cart .header-cart-title .fa-shopping-cart, .header .header-cart .header-cart-title .badge {
		padding: 12px;
	}
	.header .header-cart .header-cart-content {
		top: 38px;
	}


.footer-payment-item{
	padding: 25px 0;
}

/*category search in header*/
@media (max-width: 991px) {
	.category-search-form{
		float: none;
		display: block;
		width: 100%;
		max-width: 515px;
		margin: 0 auto;
	}
}

@media (max-width: 767px) {
	.category-search-form{
		position: relative;
	}

	.category-search-form #search_mini_form .jqTransformInputWrapper{
		width: 100%!important;
		padding-right:50px;
	}
	.category-search-form #search_mini_form button{
		position: absolute;
		right: 0;
	}

}

.header .form-search > label{display: none;}
.header .form-search{text-align: center;}

@media (min-width: 768px) {
	.header .form-search{text-align: right;}
}

.header .right-col{margin-top:20px;}


/*call us */
.callus{
	font-family: "Helvetica Neue", arial, sans-serif;
	font-weight: bold;
	font-size: 18px;
	color: #a11717;
	text-align: center;	
	margin-bottom: 20px;
}
.callus a {color: #a11717;}
@media (min-width: 768px) {
	.callus{
		font-size: 22px;
		text-align: right;
	}
}

/*fix catalog nav z-index*/
.col2-left-layout .sidebar{
	position:relative;
	z-index: 100;
}
.block.catalognav .dropdown{z-index: 100;}

/*fix paypal button on product view*/
.item-addcart{text-align:  center!important;}
.item-addcart .paypal-logo .paypal-or{display: block;}

/*fix line-breaking in product category items */
@media (min-width:768px){
	.products-grid div.item:nth-child(2n+1){
		clear: left;
	}
}

@media (min-width:992px){
	.products-grid div.item:nth-child(2n+1){clear:none;}
	.products-grid div.item:nth-child(3n+1){
		clear: left;
	}
}

/*fix blog*/
.postWrapper{
	display: block;
	clear: both;
	border-bottom: 2px solid #eee;
}
	.postWrapper .postImage {
		height: auto;
		width: auto;
		float: none;
	}
		.postWrapper .postImage img {
			max-width: 100%;
			width:  auto;
		}



/*footer spacing */
.footer-payment-social{
	padding-top: 1.5em;
}

/*mobile: switch sidebar and content stacking order*/
@media screen and (max-width: 767px) {
	.main>.container>.row{display: flex;flex-flow:column;}
	.main .col-left.sidebar{order:2;}
	.main .col-main{order:1;}

    .block.catalognav{display:  none!important;}
}

/* product page icons should have text */
.product-view .product-essential .product-options-bottom .add-to-links,
.product-view .product-essential .add-to-box .add-to-links {
	float: right;
}
	.email-friend, .item-wishlist, .item-compare{
		float: none;
		width: auto!important;
		height: 30px!important;
		text-align: left;
		padding: 10px;
		box-sizing:content-box;
		margin-bottom: 15px;
	}
		.email-friend:before, .item-wishlist:before, .item-compare:before{
			/*color: #333;*/
			line-height: 30px;
			width: auto;
			top:  auto;
			left: 12px;
			margin-top: 0!important;
		}
		.item-wishlist > a, .item-compare > a, .email-friend > a {
			font-size: inherit;
			color: white;
			line-height: 30px;
			padding-left: 30px;
		}
		.item-wishlist > a:hover, .item-compare > a:hover, .email-friend > a:hover {
			color:white;
		}


/* remove button from product grid */
.products-grid .item .item-wc-wrap,
.products-grid .item-addcart{display: none!important;}

#theme_setting_panel .color-cell[data-color="purple"] {
	background-color: #a76dd6;
	border-color: #a76dd6;
}

/*responsive nav */
@media (max-width: 991px) and (min-width: 768px) {

	.home_style1 #meganav > li > a {
		padding:20px 17px;
		font-size: 11px;
	}

	.home_style1 #meganav > li:last-child{
		display:  none;
	}


}

.mobile-nav i.fa.fa-bars:after {
  content: 'menu';
  margin-left: 10px;
  text-transform: uppercase;
}



.cloud-zoom-big {
    background-repeat:no-repeat;
    background-color:#fff;
}

.product-image .sale-product,
.product-image .new-product,
.product-image .new-product-sale{display:none;}

.view-mode .list{display:none}
span.product-count{display:none}

i.product-sku{margin-bottom:1em;display:block;}
.grouped-items-table i.product-sku{margin: 1em 0 0; text-align:left;}

.product-view .product-essential .product-options .options-list .label{
  width: 100%;
  display: block;
  text-align: left;
  padding-left: 24px;
  margin-bottom: 13px;
  border-bottom: 1px solid #eee;

}
.product-view .product-essential .product-options .options-list .label label{width:100%;}
.product-view .product-essential .product-options .options-list .label .price-notice{float:right;}


body,
h1,
#meganav > li > a{
	font-family: Arial, Helvetica, sans-serif!important;
}
	body{
		font-size: 12px;
	}
	#meganav > li > a{
		font-size: 14px;
	}
.youtube-videos iframe {
	border: medium none;
	margin: 5px;
}
