.home_style2{
	.home-top-wrap{
		background-color: #eaeaea;
	}
}
.home-top-wrap{
	padding: 30px 0;
	//home slider
	.home-slider{
		padding-right: 10px;
	}

	//banner 4
	.home-banner-4{
		padding-left: 0;
		.block-banner-4{
			.last{
				img{
					margin-top: 10px;
				}
			}	
			img{
				width: 100%;
				&:hover{
					.opacity(0.7);
				}				
			}						
		}
	}

	//service
	.block-service{		
		border: 1px solid @border-color;	
		margin-top: 30px;	
		background: #fff;	
		.block-service-item{
			border-right: 1px solid @border-color;
			padding: 13px 15px;
			&.last{
				border: none;
			}
			.fa{
				font-size: 30px;
				color: @theme-color;
				width: 54px;
				height: 54px;
				padding-top: 14px;
				text-align: center;
				margin-right: 15px;
				float: left;
			}
			a{
			    display: block;
			    text-transform: uppercase;
			    margin-bottom: 5px;
			    color: @theme-color;
			}
			span{
				display: block;
			}			
		}
	}	
}
.main-container{
	padding-top: 40px;
	background-color: #fff;
	//banner 1
	.block-banner{
		margin-bottom: 40px;					
		img{
			width: 100%;
			&:hover{
				.opacity(0.7);
			}			
		}
		.last{
			img{
				margin-top: 30px;
			}
		}
	}	

	//banner 2
	.block-banner-2{
		margin-bottom: 40px;
		img{
			width: 100%;
		}
		&:hover{
			.opacity(0.7);
		}	
	}

	//banner 3
	.block-banner-3{
		margin-bottom: 40px;
		display: inline-block;
		width: 100%;	
		img{
			width: 100%;
		}
		&:hover{
			.opacity(0.7);
		}						
	}	

	//blog
	.latest-blog{
		position: relative;
		background-color: #fff;
		.latest-blog-content{
			.postWrapper{
				margin-bottom: 0;
				clear: none;
				padding-bottom: 0;
				max-width: 100%;
				overflow: hidden;
				.postImage{
					position: relative;
					width: 100%;
					max-width: 100%;
					margin: 0;					
					img{
						width: 100%;
						height: 100%;
					}
				}
				.postDetails{
					width: 70px;
					padding: 10px 3px;
					margin: 0;
					color: #fff;
					background-color: @theme-color;
					float: left;
					text-align: center;
				}
				.postInfo{
					padding: 20px 10px 0 20px;
					background-color: #fff;
					bottom: 0;
					left: 70px;
					position: absolute;
					.postTitle {
						margin-bottom:8px;
						h2{
							font-size: 107.69%;
							font-family: @google-font;
						}							
					}
					.postContent{
						padding: 0;
						p{
							padding: 0;
						}
						a{
							color: @theme-color;
						}
						img{
							display: none;
						}
					}
				}
			}
		}
		.owl-controls{
			position: absolute;
			top: -6px;
			right: 0;
			width: 100%;
			.owl-nav{
				.owl-prev,
				.owl-next{
					float: left;
					border: 1px solid #959595;
					width: 30px;
					height: 30px;
				    position: absolute;
				    top: 0;
				    text-align: center;
				    border-radius: 2px;
				    &:before{
				    	font-family: FontAwesome;
				    	font-size: 11px;
				    	display: inline-block;
				    	margin-top: 4px;				    	
				    }
					&:hover{
						&:before{
							color: @theme-color;
							cursor: pointer;
						}
					}
					&.disabled{
						display: none !important;
					}
				}
				.owl-prev{						
					right: 37px;
					&:before{
				    	content: "\f053";
				    }
				}
				.owl-next{
					right: 0;
					padding-left: 3px;
					&:before{
				    	content: "\f054";
				    }
				}
			}
		}		
	}

	//brand
	.block-brand{
		margin-bottom: 40px;
		.block-title{
			margin: 0;
		}
		.block-brand-content{
			padding: 30px 0;
			border: 1px solid @border-color;
			border-top: none;
		}
		.owl-controls{
			position: absolute;
			top: -36px;
			right: 0;
			width: 100%;
			.owl-nav{
				margin: 20px auto 0;
				display: table;
				.owl-prev,
				.owl-next{
					float: left;
					border: 1px solid #959595;
					width: 30px;
					height: 30px;
				    position: absolute;
				    bottom: 0;
				    text-align: center;
				    border-radius: 2px;
				    &:before{
				    	font-family: FontAwesome;
				    	font-size: 11px;
				    	display: inline-block;
				    	margin-top: 4px;				    	
				    }
					&:hover{
						&:before{
							color: @theme-color;
							cursor: pointer;
						}
					}
					&.disabled{
						display: none !important;
					}
				}
				.owl-prev{						
					right: 37px;
					&:before{
				    	content: "\f053";
				    }
				}
				.owl-next{
					right: 0;
					padding-left: 3px;
					&:before{
				    	content: "\f054";
				    }
				}
			}
		}	
		.owl-carousel .owl-stage-outer:hover{
			&:hover{
				.owl-item{
					.opacity(0.5);
					&:hover{
						.opacity(1);
					}
				}
				
			}
		}			    	
	}

	//collections
	.collection-wrap{
		overflow: hidden;
		margin-bottom: 10px;
		.collection-item{
			margin-bottom: 30px;			
			.collection-item-inner{
				padding: 20px 15px 20px 20px;
				border: 1px solid @border-color;
				float: left;
				width: 100%;
				.collection-image{
					float: left;
					margin-right: 20px;
				}
				.product-name{
					display: inline-block;
					margin-bottom: 5px;
				}
				span.button{
					display: inline-block;
					margin-top: 5px;
					padding: 12px 15px;
					a{
						color: #fff;
					}
				}
			}
		}
	}

	//service under
	.block-service-under{
		width: 100%;
		margin-bottom: 40px;
		overflow: hidden;
		.service-under-support,
		.service-under-map{
			float: left;
			width: 25%;
		}
		.service-under-newletter{
			width: 50%;
			background-color: #31353b;
			float: left;
			text-align: center;
			padding: 18px 20px 20px;
			p{
				color: #fff;
				text-transform: uppercase;
				font-weight: bold;
				line-height: 100%;
			}
			#newsletter{
				background-color: #31353b;
				border: 2px solid @border-color;
				border-radius: 0;
				height: 43px;
				width: 350px;
				padding: 7px 20px;
			}
			button{
				background-color: #31353b;
				border: 2px solid @border-color;
				border-radius: 0;
				border-left: none;
				height: 43px;
				padding: 7px 20px;
				margin-left: -3px;
				span{
					color: #fff;
					font-weight: bold;
				}
			}
		}
	}
}

//Home_style1
.home_style1{
	.nav-container,
	.menu-nav-ver{
		height: 57px;
		overflow: hidden;
		&:hover{
			height: auto;
			overflow: visible;
			cursor: pointer;
		}
	}
	&.cms-home{	
		.nav-container,
		.menu-nav-ver{
			height: auto;
		}
	}
	.home-top-wrap{
		padding-bottom: 0;
		background-color: #fff;
	}
}

//Home_style2
.home_style2{
	.home-top-wrap .block-service{
		border: none;
	}
}

//Home_style3
.home_style3{
	.wrapper{
		background-color: #eaeaea;
	}
	.header-container .header .header-top .header-login{
		border-right: none;
	}	
    .breadcrumbs{
    	border-bottom: none;
    	padding-bottom: 2px;
    }
    .home-top-wrap{
    	padding: 20px 0;
    	.block-service{
    		border: none;
    		margin-top: 20px;
    	}
    }
	.main-container{
		margin-top: 10px;
		.home-top-wrap .block-service{
			border: none;
		}		
		.block-brand {
			.block-brand-content{
				border: none;
			}
			.owl-controls{
				right: 20px;
			}
		}
		.latest-blog{
			.owl-controls{
				right: 20px;
				top: 12px;
			}
			.latest-blog-content{
				padding: 0 20px 30px;
			}
		}	
		.collection-wrap{
			.block-title{
				margin-bottom: 0;
				border-bottom: none;
			}	
			.collection-item{
				border-top: 1px solid @border-color;	
				border-left: 1px solid @border-color;	
				margin-bottom: 0;
				.collection-item-inner{
					border: none;
					padding: 40px 20px;
				}	
			}			
		} 		
	} 	
	&.cms-home{		
		.main-container{
			background-color: #eaeaea;
			padding-top: 0;
			margin-top: 0;
			.block-banner,
			.block-banner-2,
			.block-banner-3,
			.block-service-under{
				margin-bottom: 20px;
			}
		}
		.block{
			margin-bottom: 20px;
		}
		.footer-container{
			background-color: #eaeaea;
			padding-top: 20px;
		}
	    .block-title{
	        border-bottom: 1px solid @border-color;
	        border-left: 3px solid @theme-color;
	        padding: 18px 0 15px 15px;
	    }		
	}

}
