//megamenu home 1
.home_style1{
	.menu-nav{
		padding-left: 270px;
	}
	#meganav{
		border-left: none;
		&:after{
			width: 1px;
			height: 100%;
			background: #fff;
			opacity: 0.2;
			content: "";
			position: absolute;
		}
		>li {
			&:before{
				width: 1px;
				height: 100%;
				background: #fff;
				opacity: 0.2;
				content: "";
				position: absolute;
			}
			&:first-child{
				&:before{
					display: none;
				}
			}
			>a{
				border-right: none;	
				color: #fff;
				padding: 22px 30px;
				&:before{
	                border-bottom: 4px solid #fff;
				}
				&:hover{
					color: #fff;
				}			
			}		
			&.active{
				>a{
					color: #fff;				
					&:hover{
						color: #fff;
					}			
				}			
			}
			&:hover>a,
			&:focus>a{
				color: #fff;
			}	
		}
		.level-1>.dropdown-menu{
			border-top: none;
		}	
	}
}

//megamenu home 3
.home_style3{
	.menu-nav{
	    position: absolute;
	    padding-left: 285px;
	    top: 60px;
	    left: 0;
	}	
	#meganav{
		border: none;
		> li{
			> a{
				border: none;
				padding: 23px 10px 23px 30px;
				&:before{
					display: none !important;
				}
			}
		}		
	}
}

.home_style2, 
.home_style3{
	.menu-nav-ver{
		.menu-title-ver{
			background-color: @theme-color;
			height: 50px;
			&:before{
				height: 50px;
			}
			> span{
				padding: 17px 20px;
			}
			> i{
				padding: 18px 20px;
				height: 50px;
			}
		}
		.menu-showmore{
			border: none;
			height: 50px;
			border: none;
		}	
		.menu-nav-list{
			border: none;
			height: 354px;
			.level-1>.dropdown-menu{
				border-top: 1px solid @border-color;
				top:-50px;
			}				
		}	
		> li.level-1 > a .menu-icon{
			width: 57px;
		}	
	}
}

/*css menu ver*/
.menu-nav-ver{
	width: 270px;
	position: absolute;
	z-index: 2;
	.menu-title-ver{
		height: 57px;
		float: left;
		width: 100%;
		position: relative;
		&:after{
			position: absolute;
			content: "";
			top: 0;
			left: 0;
			height: 100%;
			width: 100%;
			background: #000;
			opacity: 0.1;
		}
		&:before{
			position: absolute;
			content: "";
			top: 0;
			left: 0;
			height: 57px;
			width: 57px;
			background: #000;
			opacity: 0.2;
		}		
		> i{
			font-size: 14px;
			color: #fff;
			float: left;
			text-align: center;
			width: 57px;
			height: 57px;
			position: relative;
			padding: 20px;
			z-index: 1;
		}		
		> span{
			font-size: 107.69%;
			text-transform: uppercase;
			color: #fff;
			padding: 20px;
			font-weight: bold;
			position: relative;
			float: left;
			z-index: 1;
		}
	}

	.menu-showmore{
		border: 1px solid @border-color;
		border-top: none;
		padding: 15px 20px;
		height: 57px;
		width: 100%;
		text-align: center;
		float: left;
		background: #fff;
		color: #000;
		&:hover{
			color: @theme-color;
			cursor: pointer;
		}
		.show-off{
			display: none;
		}
	}

	.menu-nav-list{
		float: left;
		width: 100%;
		border-left: 1px solid @border-color;
		border-right: 1px solid @border-color;
		background-color: #fff;
		position: relative;
		height: 404px;
		&.menu-full{
			height: auto;
		}
		> li.level-1{
			float: left;
			width: 100%;
			&.first-off{
				display: none;
			}			
			> a{
				display: block;
				border-bottom: 1px solid @border-color;		
				position: relative;		
				.menu-icon{
					text-align: center;
					width: 56px;
					text-align: center;
					padding: 15px 20px;
					border-right: 1px solid @border-color;
					float: left;
					i{
						font-size: 14px;
					}
				}			
				.menu-title{
					padding: 15px 20px;
					display: inline-block;
				}
			}
			&:hover{
				background-color: #f6f6f6;
			}
			&.parent{
				> a:after{
					content:"\f054";
					font-family: 'FontAwesome';
					font-size: 11px;
					position: absolute;
					right: 20px;
					top: 15px;
				}
			}

			&:hover>a,
			&:focus>a,
			>a:hover,
			>a:focus{
				color: @theme-color;
			}		
			
			> .dropdown-menu{
				display: none;
			}
			
			&:hover>.dropdown-menu,
			>a:hover+.dropdown-menu{
				display: block;
				.opacity(1);
				visibility: visible;
			}
			> ul{
				padding-left: 0;
			}
			
			&.dropdown-full{
				position: static;
				
				> .dropdown-menu{
					position: absolute;
					left: 0;
					right: 0;
				}
			}						
		}

		.level-1>.dropdown-menu{
			display: block;
			margin: 0;
			padding: 0;
			position: absolute;
			z-index: 1050;
			visibility: hidden;
			.opacity(1);
			border-top: none;
			box-shadow: none;
			border: 1px solid @border-color;
			border-top: none;
		    border-radius: 0;
		    font-size: 100%;
		    overflow: hidden;
		    top: 0;
		    left: 100%;
		    min-height: 461px;
		}
	
		.level-2{			
			>.dropdown-menu{
				display: block;
				position: static;
				border: 0;
				padding: 0;
				margin: 0;
				max-width: 100%;
				min-width: 100px;
				font-size: 100%;
				.clearfix();
			}
			>a{
				position: relative;
				padding-left: 30px;
				padding: 8px;
				float: left;
				width: 100%;
			}

			
			&.parent{
				> a{
					display: block;
					font-size: 100%;
					border-bottom: 1px solid @border-color;
					padding: 0 0 7px;
					margin-bottom: 5px;
					font-weight: bold;
					text-transform: uppercase;
					&:before{
					    border: none;
					}				
				}
				
				.dropdown-menu{
					float: none;
					box-shadow: none;

					>ul{
						padding: 5px 0;
						display: inline-block;
						width: 100%;
						li{
							a {
								display: block;
								padding: 5px 0;
							}
						}
					}
				}
				.dropdown-content{
					img{
						max-width: 100%;
					}
					.menu-new-arrivals{
						padding: 20px 0 0 30px;
						text-align: center;
						.menu-new-arrivals-item{
							margin-bottom: 30px;
							img{
								width: 100%;
								max-width: 100%;
								border: 1px solid @border-color;
								&:hover{
									border: 1px solid @theme-color;
								}
							}
							a{
								margin-top: 12px;
								display: inline-block;
							}
						}
					}
				}				
			}
		}
	}
}


/*menu*/
.menu-nav{
    float: left;
    position: relative;
    width: 100%;
}
#meganav{
	float: left;	
	border-left: 1px solid @border-color;
	a{
		&:hover{
			color: @theme-color;
		}
	}
	>li {
	    float: left;
	    position: relative;
		>a{
			display: block;
			padding: 20px 30px;	
			text-transform: uppercase;
			position: relative;
			border-right: 1px solid @border-color;
			line-height: 100%;
			font-family: @google-font-title;
			font-weight: bold;	
			&:before{
                position: absolute;
                content: "";
                border-left: 4px solid transparent;
                border-bottom: 4px solid @theme-color;
                border-right: 4px solid transparent;
                left: 50%;
                margin-left: -2px;
                bottom: 0;
				display: none;
			}			
		}		
		&.active{
			>a{
				color: @theme-color;
				&:before{
					display: block;
				}				
				&:hover{
					color:@theme-color;
				}			
			}			
		}
		&.parent{
			> a:after{
				content:"\f107";
				font-family: 'FontAwesome';
				margin-left: 8px;
			}
		}
		&:hover{
			&.parent{
				> a{
					&:after{
						content:"\f106";
					}									
				}				
			}
		}		

		&:hover>a,
		&:focus>a,
		>a:hover,
		>a:focus{
			color: @theme-color;
		}		
		
		> .dropdown-menu{
			display: none;
		}
		
		&:hover>.dropdown-menu,
		>a:hover+.dropdown-menu{
			display: block;
			.opacity(1);
			visibility: visible;
		}
		> ul{
			padding-left: 0;
		}
		
		&.dropdown-full{
			position: static;
			
			> .dropdown-menu{
				position: absolute;
				left: 0;
				right: 0;
			}
		}
	}
	
	.level-1>.dropdown-menu{
		display: block;
		margin: 0;
		padding: 0;
		position: absolute;
		z-index: 1050;
		visibility: hidden;
		.opacity(1);
		border-top: none;
		box-shadow: none;
		border: 1px solid @border-color;
		border-top: 2px solid @theme-color;
		border-bottom: 2px solid @theme-color;
	    border-radius: 0;
	    font-size: 100%;
	    overflow: hidden;
	}
	

	.level-2{			
		>.dropdown-menu{
			display: block;
			position: static;
			border: 0;
			padding: 0;
			margin: 0;
			max-width: 100%;
			min-width: 100px;
			font-size: 100%;
			.clearfix();
		}
		>a{
			position: relative;
			padding-left: 30px;
			padding: 8px;
			float: left;
			width: 100%;
		}

		
		&.parent{
			> a{
				display: block;
				font-size: 100%;
				border-bottom: 1px solid @border-color;
				padding: 0 0 7px;
				margin-bottom: 5px;
				font-weight: bold;
				text-transform: uppercase;
				&:before{
				    border: none;
				}				
			}
			
			.dropdown-menu{
				float: none;
				box-shadow: none;

				>ul{
					padding: 5px 0;
					display: inline-block;
					width: 100%;
					li{
						a {
							display: block;
							padding: 5px 0;
						}
					}
				}
				.dropdown-content{
					img{
						max-width: 100%;
					}
					.menu-new-arrivals{
						padding: 20px 0 0 30px;
						text-align: center;
						.menu-new-arrivals-item{
							margin-bottom: 30px;
							img{
								width: 100%;
								max-width: 100%;
								border: 1px solid @border-color;
								&:hover{
									border: 1px solid @theme-color;
								}
							}
							a{
								margin-top: 12px;
								display: inline-block;
							}
						}
					}
					.hotkey-wrap{
						float: left;
						width: 100%;
						background: #f6f6f6;
						padding: 20px 30px;
						> span{
							position: relative;
							color: #fff;
							font-weight: bold;
							height: 34px;
							padding: 6px 10px 6px 15px;
							background: @theme-color;
							float: left;
							margin-right: 25px;
							&:after{	
				                position: absolute;
				                content: "";
				                border-bottom: 17px solid transparent;
				                border-left: 17px solid @theme-color;
				                border-top: 17px solid transparent;
				                right: -17px;
				                bottom: 0;
							}
						}
						ul{
							list-style: none;
							li{
								float: left;
								margin-right: 10px;
								border: 1px solid @border-color;
								border-radius: 2px;
								height: 34px;
								padding: 6px 15px;
								background: #fff;
							}
						}
					}
				}
			}
			
		}
	}
}

#meganav,
.menu-nav-list{
	.level-3{}

	.mcols-6{
		> li{
			&:first-child{
				border-bottom: 1px solid @border-color;
				border-right: none;
				padding: 0;
			}
			&.mcol-4{
				border: none;
				&:after{
					display: none;
				}
			}
		}		
	}
		
	.mcols-2,
	.mcols-3,
	.mcols-4,
	.mcols-5,
	.mcols-6,
	.mcols-7,
	.mcols-8,
	.mcols-9,
	.mcols-10,
	.mcols-11,
	.mcols-12{
		display: block;
		.clearfix();
		
		> li{
			float: left;
			width: 100%;
			padding: 20px 30px;
			border-right: 1px solid @border-color;
			position: relative;
			&:after{
				position: absolute;
				content: "";
				top: 0;
				right: -1px;
				width: 1px;
				height: 1000px;
				background: @border-color;
			}
			&:last-child{
				border: none;
			}
		}
	}
	
	.mcols-2 > .mcol-1{ width: 50%; }
	.mcols-2 > .mcol-2{ width: 100%; }
	
	.mcols-3 > .mcol-1{ width: 100%/3; }
	.mcols-3 > .mcol-2{ width: 200%/3; }
	.mcols-3 > .mcol-3{ width: 100%; }
	
	.mcols-4 > .mcol-1{ width: 25%; }
	.mcols-4 > .mcol-2{ width: 50%; }
	.mcols-4 > .mcol-3{ width: 75%; }
	.mcols-4 > .mcol-4{ width: 100%; }
	
	.mcols-5 > .mcol-1{ width: 20%; }
	.mcols-5 > .mcol-2{ width: 40%; }
	.mcols-5 > .mcol-3{ width: 60%; }
	.mcols-5 > .mcol-4{ width: 80%; }
	.mcols-5 > .mcol-5{ width: 100%; }
	
	.mcols-6 > .mcol-1{ width: 100%/6; }
	.mcols-6 > .mcol-2{ width: 200%/6; }
	.mcols-6 > .mcol-3{ width: 300%/6; }
	.mcols-6 > .mcol-4{ width: 400%/6; }
	.mcols-6 > .mcol-5{ width: 500%/6; }
	.mcols-6 > .mcol-6{ width: 100%; }
	
	.mcols-7 > .mcol-1{ width: 100%/7; }
	.mcols-7 > .mcol-2{ width: 200%/7; }
	.mcols-7 > .mcol-3{ width: 300%/7; }
	.mcols-7 > .mcol-4{ width: 400%/7; }
	.mcols-7 > .mcol-5{ width: 500%/7; }
	.mcols-7 > .mcol-6{ width: 600%/7; }
	.mcols-7 > .mcol-7{ width: 100%; }
	
	.mcols-8 > .mcol-1{ width: 100%/8; }
	.mcols-8 > .mcol-2{ width: 25%; }
	.mcols-8 > .mcol-3{ width: 300%/8; }
	.mcols-8 > .mcol-4{ width: 50%; }
	.mcols-8 > .mcol-5{ width: 500%/8; }
	.mcols-8 > .mcol-6{ width: 75%; }
	.mcols-8 > .mcol-7{ width: 700%/8; }
	.mcols-8 > .mcol-8{ width: 100%; }
	
	.mcols-9 > .mcol-1{ width: 100%/9; }
	.mcols-9 > .mcol-2{ width: 200%/9; }
	.mcols-9 > .mcol-3{ width: 300%/9; }
	.mcols-9 > .mcol-4{ width: 400%/9; }
	.mcols-9 > .mcol-5{ width: 500%/9; }
	.mcols-9 > .mcol-6{ width: 600%/9; }
	.mcols-9 > .mcol-7{ width: 700%/9; }
	.mcols-9 > .mcol-8{ width: 800%/9; }
	.mcols-9 > .mcol-9{ width: 100%; }
	
	.mcols-10 > .mcol-1{ width: 10%; }
	.mcols-10 > .mcol-2{ width: 20%; }
	.mcols-10 > .mcol-3{ width: 30%; }
	.mcols-10 > .mcol-4{ width: 40%; }
	.mcols-10 > .mcol-5{ width: 50%; }
	.mcols-10 > .mcol-6{ width: 60%; }
	.mcols-10 > .mcol-7{ width: 70%; }
	.mcols-10 > .mcol-8{ width: 80%; }
	.mcols-10 > .mcol-9{ width: 90%; }
	.mcols-10 > .mcol-10{ width: 100%; }
	
	.mcols-11 > .mcol-1{ width: 100%/11; }
	.mcols-11 > .mcol-2{ width: 200%/11; }
	.mcols-11 > .mcol-3{ width: 300%/11; }
	.mcols-11 > .mcol-4{ width: 400%/11; }
	.mcols-11 > .mcol-5{ width: 500%/11; }
	.mcols-11 > .mcol-6{ width: 600%/11; }
	.mcols-11 > .mcol-7{ width: 700%/11; }
	.mcols-11 > .mcol-8{ width: 800%/11; }
	.mcols-11 > .mcol-9{ width: 900%/11; }
	.mcols-11 > .mcol-10{ width: 1000%/11; }
	.mcols-11 > .mcol-11{ width: 100%; }
	
	.mcols-12 > .mcol-1{ width: 100%/12; }
	.mcols-12 > .mcol-2{ width: 200%/12; }
	.mcols-12 > .mcol-3{ width: 300%/12; }
	.mcols-12 > .mcol-4{ width: 400%/12; }
	.mcols-12 > .mcol-5{ width: 500%/12; }
	.mcols-12 > .mcol-6{ width: 600%/12; }
	.mcols-12 > .mcol-7{ width: 700%/12; }
	.mcols-12 > .mcol-8{ width: 800%/12; }
	.mcols-12 > .mcol-9{ width: 900%/12; }
	.mcols-12 > .mcol-10{ width: 1000%/12; }
	.mcols-12 > .mcol-11{ width: 1100%/12; }
	.mcols-12 > .mcol-12{ width: 100%; }
	
}

.menu-nav-list{	
	.mcols-2,
	.mcols-3,
	.mcols-4,
	.mcols-5,
	.mcols-6,
	.mcols-7,
	.mcols-8,
	.mcols-9,
	.mcols-10,
	.mcols-11,
	.mcols-12{
		display: block;
		.clearfix();
		
		> li{
			float: left;
			width: 100%;
			padding: 20px 0 20px 30px;
			border-right: none;
			position: relative;
			&:after{
				display: none;
			}
			&:last-child{
				padding: 0 0 0 30px;
			}
		}
	}
}