/*breadcrumbs*/
.breadcrumbs{
	padding: 12px 0;
	border-bottom: 1px solid @border-color;	
	ul{
		padding: 0;
		margin: 0;
		float: left;
		width: 100%;
		li{
			list-style: none;
			float: left;
			line-height: 150%;
			span{
				float: right;
				margin: 8px 10px 0;
                width: 5px;
                height: 5px;  
                background: #e1e1e1;
                border-radius: 50%;                  
			}
			strong{
				font-weight: normal;
			}
		}
	}
}
.home_style1 .breadcrumbs,
.home_style2 .breadcrumbs{
	background-color: #fff;
}


/*contact us*/
.contat-us-wrap{
	.contact-title{
		font-weight: bold;
		text-transform: uppercase;
		padding-bottom: 10px;
		display: inline-block;
		width: 100%;
		border-bottom: 1px solid @border-color;		
	}
	.contact-map{
		.contact-map-content{
			float: left;
			width: 100%;
			padding: 4px;
			border: 1px solid @border-color;
		}
		#map {
		    float: left;
		    height: 325px;
		    width: 100%;
		}
	}

	.block-contact-address{
		display: inline-block;
		margin-top: 30px;
		width: 100%;
		p{
			margin: 15px 0 35px;
		}
		ul{
			list-style: none;
			li{
				margin: 15px 0;
				position: relative;
				padding-left: 30px;
				line-height: 100%;
				&:before{
					content: "";
					background-image: url(../../images/icon-contact-address.png);
					width: 14px;
					height: 15px;
					background-position: 0 0;
					position: absolute;
					top: 0;
					left: 0;
				}
				&.phone:before{
					background-position: 0 -28px;
				}
				&.email:before{
					background-position: 0 -60px;
				}
			}
		}
	}	

	#contactForm{
		.fieldset{
			padding: 0;
			margin: 0;
			border: none;
			.form-list{
				margin-top: 20px;
				input{
					width: 100%;
					margin-bottom: 5px;
					padding: 12px;
				}
				textarea{
					width: 100%;
				}
			}
			.fields{
				.field.first {
					padding-right: 30px;
				}
			}
		}
		.buttons-set{
			margin: 0;
			clear: none;
			.required{
				display: none;
			}
			.button{
				float: left;
				margin: 5px 0 0;
			}
		}
	}

}


/*about us*/
.about-us-wrap{
	.image-about-us{
		margin-bottom: 20px;
		img{
			max-width: 100%;
		}
	}
	.about-team{
		.about-team-title{
			font-weight: bold;
			text-transform: uppercase;
			margin: 30px 0 20px;
			padding-bottom: 10px;
			display: inline-block;
			width: 100%;
			border-bottom: 1px solid @border-color;
		}
		.about-team-info{
			display: inline-block;
			width: 100%;
		}
		.about-team-member{	
			.about-team-member-item{
				margin-top: 20px;		
			}			
			.about-team-member-item-inner{
				border: 1px solid @border-color;
				border-radius: 2px;
				text-align: center;
				&:hover{
					border: 1px solid @theme-color;
				}
				.team-member-image{
					img{
						max-width: 100%;
					}
				}
				.team-member-name{
					font-size: 107.69%;
					text-transform: uppercase;
					display: inline-block;
					margin: 15px 0 2px;
				}
				.team-member-office{
					display: inline-block;
					width: 100%;
					text-transform: uppercase;
				}
				.team-member-info{
					padding: 5px 10px 20px;
				}
			}
		}
	}

}


/*css toolbar*/
.toolbar{
	border-bottom: 1px solid @border-color;
	border-top: 1px solid @border-color;
	float: left;
	width: 100%;
	padding: 10px 0;	
	position: relative;
}	

.sorter{
	float: left;
	margin-right: 20px;
	.view-mode{
		float: left;
		margin-right: 12px;
		margin-bottom: 0;
		.grid, .list{
			width: 36px;
			height: 36px;
			border-radius: @border-radius;
			border: 1px solid @border-color;
			position: relative;
			float: left;
			&:hover{
				border: 1px solid @theme-color;
				color: @theme-color;
			}
			&:before{
				position: absolute;
				top: 8px;
				left: 9px;
				font-size: 17px;
				font-family: FontAwesome;
			}
		}
		strong.grid, strong.list{
			color: @theme-color;
			border: 1px solid @theme-color;
		}
		a.grid, a.list{
			color: #666;
			&:hover{
				color: @theme-color;
			}			
		}		
		.grid{
			&:before{
				content: "\f00a";
				left: 8px;
			}

		}
		.list{
			margin-left: 5px;
			&:before{
				content: "\f00b";
			}
		}
	}

	.sort-by{
		float: left;
		position: relative;
		width: 150px;
		.sort-by-active{
			height: 36px;
			border: 1px solid @border-color;
			border-radius: @border-radius;
			padding: 7px 10px;
			width: 109px;
			float: left;
			position: relative;
			&:before{
				position: absolute;
				top:7px;
				right: 10px;
				content: "\f107";
				font-family: FontAwesome;
				font-size: 16px;
				color: #111;
			}
			&:after{
				position: absolute;
				content: "";
				width: 100%;
				height: 1px;
				background: #fff;
				bottom: -2px;
				left: 0;
			}
			&:hover{
				cursor: pointer;
				+ul.sort-by-option{
					display: block;
				}				
			}
		}

		ul.sort-by-option{
			float: left;
			position: absolute;
			left: 0;
			top: 37px;
			border: 1px solid @border-color;
			border-radius: @border-radius;
			padding: 2px 10px;
			width: 109px;
			background: #fff;
			display: none;
			z-index: 1;
			li{
				padding: 5px 0;
				border-bottom: 1px dotted @border-color;
				&:last-child{
					border: none;
				}
			}
			&:hover{
				display: block;
			}			
		}

		a.fa-angle-down,
		a.fa-angle-up{
			width: 36px;
			height: 36px;
			border: 1px solid @border-color;
			border-radius: @border-radius;
			float: right;
			margin-left: 5px;				
			padding: 10px 12px;
			color: #111;
			font-size: 16px;
			&:hover{
				border: 1px solid @theme-color;
				color: @theme-color;
			}
		}
	}
}

.pager{
	float: left;
	margin: 0;
	text-align: left;
	.amount{
		float: left;
		margin-right: 20px;
		line-height: 35px;
		margin-bottom: 0;
	}
   .limiter{
   		float: left;
   		position: relative;	   		
   		span{
   			line-height: 32px;
   		}
   		label{
   			float: left;
   			font-weight: normal;
   			line-height: 35px;
   			margin-right: 10px;
   			margin-bottom: 0;
   		}
   		.limiter-active{
			height: 36px;
			border: 1px solid @border-color;
			border-radius: @border-radius;
			padding: 7px 10px;
			width: 109px;
			float: left;
			position: relative;
			margin-right: 10px;
			&:before{
				position: absolute;
				top:7px;
				right: 10px;
				content: "\f107";
				font-family: FontAwesome;
				font-size: 16px;
				color: #111;
			}
			&:after{
				position: absolute;
				content: "";
				width: 100%;
				height: 1px;
				background: #fff;
				bottom: -2px;
				left: 0;
			}
			&:hover{
				cursor: pointer;
				+ul.limiter-option{
					display: block;
				}
			}	   			
   		}
		ul.limiter-option{
			float: left;
			position: absolute;
			left: 0;
			top: 37px;
			border: 1px solid @border-color;
			border-radius: @border-radius;
			padding: 2px 10px;
			width: 109px;
			background: #fff;
			display: none;
			z-index: 1;
			li{
				padding: 5px 0;
				border-bottom: 1px dotted @border-color;
				float: left;
				width: 100%;
				&:last-child{
					border: none;
				}
				a{
				    border: none;
				    border-radius: 0;
				    display: inline-block;
				    float: left;
				    padding: 0;
				    width: 100%;
				    &:hover{
				    	background: none;
				    }
				}
			}
			&:hover{
				display: block;
			}
		}	   		
   }
   .pages{
   		position: absolute;
   		top: 10px;
   		right: 0;
   		ol{
   			li{
				width: 36px;
				height: 36px;
				float: left;
				border-radius: @border-radius;
				border: 1px solid @border-color;
				position: relative;
				margin-left: 5px;
				line-height: 32px;
				text-align: center;
				&:hover{
					border: 1px solid @theme-color;
				}
				&.current{
					border: 1px solid #000;
					background: #000;
					color: #fff;					
				}
				a{
				    border: none;
				    border-radius: 0;
				    display: inline-block;
				    padding: 0;
				    line-height: 100%;
				    padding: 6px;
				    &:hover, &:focus{
				    	background: none;
				    }
				    &.fa-angle-right,
				    &.fa-angle-left{
				    	font-size: 14px;
				    }
				}	   				
   			}
   		}
   }
}	


/*page 404*/
.page-404{
	text-align: center;
	.button{
		display: inline-block;
		margin-top: 30px;

		a{
			color: #fff;
		}
		.fa-hand-o-right{
			font-size: 130%;
	    	margin-left: 15px;
		}		
	}

}