@font-face {
	font-family: 'Socialico';
	src: url('../fonts/socialico-webfont.eot');
	src: url('../fonts/socialico-webfont.eot?#iefix')
		format('embedded-opentype'),
		 url('../fonts/socialico-webfont.woff') format('woff'), 
		url('../fonts/socialico-webfont.ttf') format('truetype'),
		url('../fonts/socialico-webfont.svg#SocialicoRegular') format('svg');
	font-weight: normal;
	font-style: normal;
}