@media (min-width: @screen-lg-min) {	
}

@media (min-width: @screen-md-min) and (max-width: @screen-md-max) {
	.layout-boxed{
		.wrapper{
			width: 1000px;
		}
	}
	.item-quickview{
		display: none;
	}
	.item-wc-wrap{
		width: 100%;
		.item-wishlist{
			border-left: none;
		}
	}	

	/*header*/
	.header {
		.header-cart{
			margin-left: 20px;
			.header-cart-title .badge{
				padding: 16px 15px;
			}			
		} 		
	}
	.category-search-form #search_mini_form {
		.jqTransformInputWrapper{
			width: 230px !important;
			input{
				width: 100% !important;
			}
		}
	}
	.home_style1 #meganav > li > a,
	#meganav > li > a{
		padding: 22px 25px;
	}
	.menu-nav-ver .menu-nav-list > li.level-1 > .dropdown-menu{
		width: 701px !important;
	}
	.home_style3{
		.header-container{
			width: 970px;		
		}		
		.menu-nav{
			padding-left: 245px;
		}
		#meganav > li > a{
			padding: 23px 10px 23px 20px;
		}		
	}

	/*footer*/
	.footer-container .footer .footer-top .block-social-footer ul li{
		margin-left: 20px;
	}

	/*home page*/
	.home_style1{
		.menu-nav{
			padding-left: 220px;
		}	
		.home-top-wrap .block-service{
			margin-top: 80px;
		}	
	} 
	.menu-nav-ver{
		width: 220px;
	}
	.home-top-wrap .block-service,
	.home_style3 .home-top-wrap .block-service{
		margin-top: 103px;
	}
	.main-container .block-service-under{
		.service-under-newletter{
			padding: 9px 20px;
			#newsletter{
				width: 250px;
			}
		}
		.service-under-support, 
		.service-under-map{
			img{
				max-width: 100%;
			}
		}		
	} 

	/*listing page*/
	.pager .limiter span{
		display: none;
	}
}

@media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {
	.layout-boxed{
		.wrapper{
			width: 780px;
		}
	}
	.item-quickview{
		display: none;
	}
	.item-wc-wrap{
		width: 100%;
		.item-wishlist{
			border-left: none;
		}
	}	

	// css for input, select, radio, textarea
	.input-box input[type="text"], 
	.input-box input.input-text,
	.field select{
		width: 200px;
	}	
	
	/*Header*/
	.header {
		.header-cart{
			margin-left: 20px;
			.header-cart-title .badge{
				padding: 16px 15px;
			}			
		} 		
	}
	.home_style2 .header-menu{
		border: none;
	}
	.header-container{
		.header{
			.menu-nav,
			.menu-nav-ver{
				//display: none;
			}
			.mobile-nav{
				// display: block;
			}
			.header-under .logo a{
				//text-align: center;
				//margin-bottom: 30px;
			}
		}	
	}
	.category-search-form #search_mini_form {
		.jqTransformInputWrapper{
			width: 270px !important;
			input{
				width: 100% !important;
			}
		}
	}
	.home_style3{
		.header-container{
			width: auto;		
			.header-under{
				height: auto;
				.header-under-left{
					padding: 0;
					margin-top: 30px;
				}
				.header-under-right{
					padding: 0 15px;
					border: none;
					height: auto;
					.header-cart{
						position: relative;
						right: 0;
						 .header-cart-title{
						 	height: 46px;
						 	padding: 0;
						 	border-radius: 2px;
						 	min-width: auto;
						 	&:after{
						 		display: block;
						 	}
						 	.fa-shopping-cart{
						 		height: 46px;
						 		padding: 14px;
						 		width: 50px;
						 	}
						 	.badge{
						 		height: 46px;
						 		padding: 16px 15px;
						 		&:before{
						 			display: block;
						 		}
						 	}
						}
						.header-cart-content{
							top: 52px;
						}
					}					
				}
				.header-menu{
					float: left;
					margin-top: 30px;
				}
			}
		}
		.category-search-form{
			border: none;
			float: right;
			width: auto;
			height: 46px;
			margin-right: 20px;
			.category-search-content{
				height: 46px;				
			}
			#search_mini_form{
				.jqTransformSelectWrapper{
					height: 46px;
					margin-top: 0;
					border-radius: 2px 0 0 2px;
					border: 1px solid @border-color;
					background-color: #f6f6f6;
					> div{
						padding: 13px;
					}
				}
				.jqTransformInputWrapper{
					input{
						margin-top: 0;
						padding: 10px 15px;
						border: 1px solid @border-color;
						height: 46px;
						border-left: none;
						width: 270px !important;
					}
				}
				button{
					background-color: #fff;
					border: 1px solid @border-color;
					border-radius: 0 2px 2px 0;
					width: 50px;
					height: 46px;
					padding: 13px 0;
					border-left: none;
					span{
						font-size: 0;
					}
					&:before{
						color: @theme-color;
						margin-right: 0;
					}
				}
			}
		}

	}	

	/*home page*/
	.home-top-wrap .block-service{
		.block-service-item span{
			margin-left: 70px;
		}
	}
	.main-container .block-service-under{
		p{
			display: none;
		}
		.service-under-newletter{
			padding: 11px 20px;
			#newsletter{
				width: 250px;
			}
		}
		.service-under-support, 
		.service-under-map{
			img{
				max-width: 100%;
			}
		}		
	} 

	/*Footer*/
	.footer-container .footer{
		.footer-top{
			.block-social-footer ul li{
				margin-left: 19px;
			}	
			.block-payment{
				.block-payment-title{
					display: none;
				}
				ul li{
					margin-left: 19px;
				}				
			} 
		} 	
	}	

	//home page

		
	//listing page
	.products-list{
		.item{
			padding: 4px;
		}		
		.f-fix-left,
		.f-fix-right{
			padding: 0 10px; 
			width: 100%;
			&:before{
				display: none;
			}
		}
	} 
	.sorter {
	    float: left;
	    margin-bottom: 10px;
	    width: 100%;
	}
	.pager {
	    float: left;
	    margin: 0;
	    text-align: left;
	    width: 100%;
		.pages {
		    top: auto;
		}	    
	}

	//detail
	.product-view .detail-service .block-service-detail{
		margin-top: 15px;
		border-left: none;
		display: inline-block;
		.block-service-item{
			border-left: 1px solid @border-color;
			float: left;
			width: 33.33%;
		}
	}
}

@media (max-width: @screen-xs-max) {
	.layout-boxed{
		.wrapper{
			width: auto;
			.container{
				padding: 0 15px;
			}
		}
	}
	.wrapper{
		.container{
			padding: 0 15px;
		}
	}
	.col-right{
		margin-top: 40px;
	}	
	.item-quickview{
		display: none;
	}
	.item-wc-wrap{
		width: 100%;
		.item-wishlist{
			border-left: none;
		}
	}

	/* css for input, select, radio, textarea*/
	.input-box input[type="text"], 
	.input-box input.input-text,
	.field select{
		width: 200px;
	}

	.col2-set .col-1,
	.col2-set .col-2,
	.form-list .field,
	.account-login .col2-set .col-1,
	.account-login .col2-set .col-2,
	.my-account .col2-set .col-1,
	.my-account .col2-set .col-2{
		width: 100%;
	}
	.buttons-set button.button{
		margin-top: 5px;
	}

	/*Header*/
	.home_style2 .header-menu{
		border: none;
	}	
	.header-container{
		.header{
			.menu-nav,
			.menu-nav-ver{
				display: none;
			}
			.mobile-nav{
				display: block;
			}
			.header-under .logo a{
				text-align: center;
				margin-bottom: 30px;
			}
			.header-cart{
				margin-left: 0;
				.header-cart-title{
					.badge{
						display: none;
					}
					.fa-shopping-cart{
						border-radius: 2px;
					}
				} 
				.header-cart-content{
					width: 290px;
				}
			} 
			.header-top{
				.header-account{
					position: absolute;
					top: 0;
					right: 15px;
					display: inline-block;
					width: 106px;
					z-index: 2;
					.quick-access{
						width: 100%;
						ul{
							li{
								display: none;
								border-left: 1px solid @border-color;
								border-right: 1px solid @border-color;
								background-color: #fff;
								padding: 10px 15px 0;
								float: left;
								width: 100%;
								height: auto;
								&.first{
									display: block;
									background-color: #31353b;
									border-left: 1px solid #252525;
									border-right: 1px solid #252525;
									padding: 10px 15px;
									a{
										color: #ccc;
									}
								}
								&.last{
									border-bottom: 1px solid @border-color;
									padding-bottom: 15px;
								}
								a{
									color: #000;
									&:before{
										display:none;
									}
									&:hover{
										color: @theme-color;
										background-color: transparent;
									}
								}
							}
						}
					}
					&:hover{
						.quick-access{
							ul{
								li{
									display: block;
									&.last, &.link_3{
										display: block;
									}
								}
							}
						}						
					}
				}
			}			
		}	
	}	
	.category-search-form{
		width: 80%;
		#search_mini_form {
			.jqTransformSelectWrapper{
				display: none;
			}
			.jqTransformInputWrapper{
				width: 78% !important;
				input{
					width: 100% !important;
				}
			}
		}		
	}

	.home_style3{
		.header-container{
			width: auto;		
			.header-under{
				height: auto;
				.header-under-left{
					padding: 0;
					margin-top: 30px;
				}
				.header-under-right{
					padding: 0 15px;
					border: none;
					height: auto;
					.header-cart{
						position: relative;
						right: 0;
						 .header-cart-title{
						 	height: 46px;
						 	padding: 0;
						 	border-radius: 2px;
						 	min-width: auto;
						 	&:after{
						 		display: block;
						 	}
						 	.fa-shopping-cart{
						 		height: 46px;
						 		padding: 14px;
						 		width: 50px;
						 	}
						 	.badge{
						 		height: 46px;
						 		padding: 16px 15px;
						 		&:before{
						 			display: block;
						 		}
						 	}
						}
						.header-cart-content{
							top: 52px;
						}
					}					
				}
				.header-menu{
					float: left;
					margin-top: 30px;
				}
			}
		}
		.category-search-form{
			border: none;
			float: right;
			width: auto;
			height: 46px;
			width: 80%;
			.category-search-content{
				height: 46px;				
			}
			#search_mini_form{
				.jqTransformSelectWrapper{
					display: none;
				}
				.jqTransformInputWrapper{					
					width: 78% !important;
					input{
						margin-top: 0;
						padding: 10px 15px;
						border: 1px solid @border-color;
						height: 46px;
						width: 100% !important;
					}
				}
				button{
					background-color: #fff;
					border: 1px solid @border-color;
					border-radius: 0 2px 2px 0;
					width: 50px;
					height: 46px;
					padding: 13px 0;
					border-left: none;
					float: left;
					span{
						font-size: 0;
					}
					&:before{
						color: @theme-color;
						margin-right: 0;
					}
				}
			}
		}
	}

	/*home page*/	 
	.home-top-wrap{
		.home-banner-4{
			padding-left: 15px;
			margin-top: 20px;
		}
		.home-slider{
			padding-right: 15px;
		}
	} 
	.main-container .block-banner .last img{
		margin-top: 10px;
	}
	.block-banner-item{
		margin: 5px 0;
	}
	.resp-tabs-container .resp-tab-content .tab-loader{
		margin-bottom: 10px;
	}
	.main-container .block-service-under{
		.service-under-newletter{
			padding: 18px 10px 20px;
			margin-bottom: 10px;
			width: 100%;
			#newsletter{
				width: 190px;
			}
		}
		.service-under-support{
			margin-bottom: 10px;
		}
		.service-under-support, 
		.service-under-map{
			width: 100%;
			img{
				max-width: 100%;
				width: 100%;
			}
		}		
	} 
	.home_style3 .resp-accordion { 
	    border-left:none;
	    border-right:none;
	    &.resp-tab-active{
	        border-bottom: 1px solid @border-color;
	    }
	}

	/*Footer*/
	.footer-container .footer{
		.footer-top{
			.block-support,
			.block-custom-link,
			.block-themefeature{
				margin-top: 20px;
			}
			.block-social-footer{
				border: none;
				ul li{
					margin-right: 20px;
					margin-left: 0;
				}
			} 	
			.block-payment{
				padding-bottom: 0;
				.block-payment-title{
					display: none;
				}
				ul li{
					margin: 0 20px 10px 0;
				}				
			} 
		} 	
	}

	/*listing*/
	.products-list .item{
		padding: 10px;
		.product-image{
			width: 100%;
			img{
				width: 100%;
			}
		}
		.product-shop{
			margin-left: 0;
			margin-top: 15px;
			float: left;
			width: 100%;
			.f-fix-left,
			.f-fix-right{
				padding: 0 10px; 
				width: 100%;
				&:before{
					display: none;
				}
			}	
			.f-fix-left{
				margin-bottom: 10px;
			}		
		}
	} 

	.sorter {
	    float: left;
	    margin-bottom: 10px;
	    margin-right: 20px;
	    width: 100%;
	}
	.pager {
	    float: left;
	    margin: 0;
	    text-align: left;
	    width: 100%;
		.limiter{
			float: left;
			width: 100%;
			margin-bottom: 10px;
		}	    
		.pages {
		    float: left;
		    left: 0;
		    position: relative;
		    right: auto;
		    top: auto;
		    ol li{
		    	margin-right: 5px;
		    	margin-left: 0;
		    }
		}	    
	}	

	/*detail page*/
	.product-view{
		.product-essential .more-views{
			margin-bottom: 30px;
		}
		.detail-service .block-service-detail{
			margin-top: 10px;
		}
		.product-collateral{
			.product-tab-detail{
				.product-tab-nav li{
					width: 100%;
					border-top: 1px solid #fff;
				}
				.tab-content{
					#tab_tags .box-tags #addTagForm .form-add #productTagName{
						width: 155px;
					}
					#tab_reviewform #product-review-table th{
						padding: 9px 5px;
					}
				}				
			}
		}
		.product-essential .product-options-bottom .add-to-links .item-wishlist, 
		.product-essential .add-to-box .add-to-links .item-wishlist, 
		.product-essential .product-options-bottom .add-to-links .item-compare, 
		.product-essential .add-to-box .add-to-links .item-compare{
			margin-left: 8px;
		}		
	} 
	
	/*blog page*/
	.postImage {
	    margin-bottom: 10px;
	}

	/*contact page*/
	.contat-us-wrap #contactForm .fieldset .fields .field.first{
		padding-right: 0;
		margin-bottom: 15px;
	}

	/*big cart*/
	#shopping-cart-table * {
	    white-space: normal !important;
	}
	#shopping-cart-table {
	    display: block;
	    thead {
		    display: none;
		}
		tfoot {
		    display: block;
		    border-top: none;
		    tr{
		    	display: block;
		    	td{
		    		display: inline-block;
		    		width: 100%;
		    		.button{
		    			margin: 2px 0;
		    			width: 100%;
		    		}
		    	}
		    }
		}
		tbody {
		    display: block;
			tr {
			    border-bottom: none;
			    display: block;
			    padding: 10px;
			}	
			td {
			    border: medium none;
			    display: block;
			    float: right;
			    margin-bottom: 5px;
			    padding: 0;
			    text-align: left;
			    width: 65%;
				&:first-child {
				    float: left;
				    margin: 0;
				    padding-right: 20px;
				    text-align: center;
				    width: 35%;			    
				}
			    
			}	    
		}
		tbody tr:before, 
		tbody tr:after {
		    content: " ";
		    display: table;
		}
		tbody tr:after {
		    clear: both;
		}
	}

}