<?php $posts = $this->getPosts(); ?>
<div id="messages_product_view">
    <?php Mage::app()->getLayout()->getMessagesBlock()->setMessages(Mage::getSingleton('customer/session')->getMessages(true)); ?>
    <?php echo Mage::app()->getLayout()->getMessagesBlock()->getGroupedHtml(); ?>
</div>
<?php echo $this->getChildHtml('aw_blog_comments_toolbar'); ?>
<?php foreach ($posts as $post): ?>
    <div class="postWrapper">
		<?php 
		$content = $post->getPostContent();
		preg_match_all("/<img .*?(?=src)src=\"([^\"]+)\"/si", $content, $m);
		$img = $m[1][0];
		?>
		<div class="postImage">
			<img src="<?php echo $img;?>" alt="<?php echo $post->getTitle(); ?>"/>
		</div>
        <div class="postTitle">
            <h2><a href="<?php echo $post->getAddress(); ?>" ><?php echo $post->getTitle(); ?></a></h2>
        </div>
		
		<div class="postDetails">
			<span><i class="fa fa-clock-o"></i><?php echo $post->getCreatedTime().' | '; ?></span>
            <?php $postCats = $post->getCats(); ?>
            <?php if (!empty($postCats)): ?>
				<i class="fa fa-user"> </i>
                <?php echo Mage::helper('blog')->__('Post'); ?>
                 <?php foreach ($postCats as $data): ?>
                    <a href="<?php echo $data['url']; ?>"><?php //echo $data['title']; ?></a>
                <?php endforeach; ?>
            <?php else: ?>
				<i class="fa fa-user"> </i>
                <?php echo Mage::helper('blog')->__('Post'); ?>
            <?php endif; ?><?php echo$this->__("by"); ?> <?php echo $post->getUser().' | '; ?>
			<?php if ($this->getCommentsEnabled()): ?>
				<i class="fa fa-comments-o"></i>
                <?php echo $post->getCommentCount(); ?> <a href="<?php echo $post->getAddress(); ?>#commentBox" >Comments</a>
            <?php endif; ?>
		</div>
        <div class="postContent"><?php echo $post->getPostContent(); ?></div>

        <?php echo $this->getBookmarkHtml($post) ?>
        <div class="tags"><?php echo $this->getTagsHtml($post) ?></div>
    </div>
<?php endforeach; ?>
<div class="blog-toolbar">
	<?php echo $this->getChildHtml('aw_blog_comments_toolbar'); ?>
</div>
