<?php
/**
 * @package ET_Tabs
 * @version 1.0.0
 * @copyright Copyright (c) 2014 EcomTheme. (http://www.ecomtheme.com)
 * @license http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 */

/* @var $this ET_Tabs_Block_List_Content */
/* @var $helper ET_Tabs_Helper_Data */
/* @var $collection Mage_Catalog_Model_Resource_Product_Collection */

$helper = Mage::helper('tabs');
$collection = $this->getCollection();

$total     = (int)$this->getTotal();
$page_size = (int)$collection->getPageSize();
$curr_page = (int)$collection->getCurPage();
$last_page = $page_size ? ceil($total/$page_size) : $curr_page;

$type = $this->tab->type . '/' . $this->tab->source->getId();
$product_list_only = $this->tab->config->hasNoContainer() && $this->tab->config->no_container===true;

ob_start();
if ($this->getConfig('loader') == 'button') :
    if (!$this->getActive() || ($curr_page < $last_page)) :
    ?>
    <a href="<?php echo Mage::getUrl('tabs/index/ajax'); ?>"
        data-page="<?php echo $this->getActive() ? $curr_page : $curr_page-1; ?>"
        data-last="<?php echo $last_page; ?>"
        data-type="<?php echo $type ?>"
        class="tab-loader">
		<span class="btn-loadmore"><?php echo $this->__('Load more'); ?></span>
		<span class="btn-loading"><i class="fa fa-refresh fa-spin fa-2x"></i><?php echo $this->__('Loading ...'); ?></span>
		<span class="btn-complated"><?php echo $this->__('All Ready'); ?></span>
	</a>
	<?php
	endif;
elseif ($this->getConfig('loader') == 'pagination'): ?>
    <div class="tab-content-pagination">
        <ul class="pagination">
        <?php
        $params = array();
        $params[$this->tab->type] = $this->tab->source->getId();
        for($i=1; $i<$last_page+1; $i++): ?>
            <li<?php if($i==$curr_page): ?> class="active"<?php endif; ?>>
                <a href="<?php echo Mage::getUrl('tabs/index/ajax', array_merge($params, array('page'=>$i))); ?>"><?php echo $this->__($i); ?></a>
            </li>
        <?php endfor; ?>
        </ul>
    </div>
<?php
endif;
$tab_loader = ob_get_clean();

ob_start();
$items = $this->getActive() ? $collection->getItems() : false;
if(! empty($items)) :

    // prepare config values
    $_image_source = $this->getConfig('image_source', 'small_image');
    $_image_size   = $this->getConfig('image_size', '270');
    $_image_size_w = intval($_image_size);
    $_image_size_h = strpos($_image_size, 'x')===false ? null : intval(substr($_image_size, 1+strpos($_image_size, 'x')));
    
    $_show_image           = $this->getConfig('show_image', 1);
    $_show_title           = $this->getConfig('show_title', 1);
    $_title_truncate       = $this->getConfig('title_truncate', 0);
    $_show_description     = $this->getConfig('show_description', 1);
    $_description_truncate = $this->getConfig('description_truncate', 0); // 0 is no truncate
    
    $_show_add2cart        = $this->getConfig('show_price_box', 1);
    $_show_add2wishlist    = $this->getConfig('show_add2wishlist', 1);
    $_show_add2compare     = $this->getConfig('show_add2compare', 1);
    $_show_quickview       = $this->getConfig('show_quickview', 1);
    $_show_pricebox        = $this->getConfig('show_pricebox', 1);
    $_show_rattingbox      = $this->getConfig('show_rattingbox', 1);
    
    $price_idsf = '_tabs_'.uniqid();
    
    // responsive class
    $class_col = '';
    foreach (array('lg','md','sm','xs') as $sf){
    	$col = $this->getConfig("col_$sf");
    	if ($col>0){
    		$col = ceil(12/$col);
    	}
    	if ($col>0 && $col<=12){
    		$class_col .= " col-$sf-$col";
    	}
    }
    
    foreach ($items as $_item) :

        // prepare item's data
        $_item_url = $_item->getProductUrl();
        $_item_image_label = $this->getImageLabel($_item, $_image_source, null, true);
        $_item_image_src = $this->helper('catalog/image')->init($_item, $_image_source)->resize($_image_size_w, $_image_size_h);
         
        $is_new = $helper->isNew($_item);
        $is_special = $helper->isSpecial($_item);
        $is_featured = $helper->isFeatured($_item);
        ?>
        <div class="item <?php echo $class_col;?>">
			<div class="item-inner">
				<?php if ($_show_image): ?>
				<div class="product-image">
					<a href="<?php echo $_item_url; ?>" title="<?php echo $this->stripTags($_item_image_label, null, true) ?>">
						<img src="<?php echo $_item_image_src; ?>" alt="<?php echo $this->stripTags($_item_image_label, null, true) ?>" />
					</a>
					<?php
					if ( $is_new ){
						echo "<span class='new-product'>" . $this->__('New') . "</span>";
					}
					if ( $is_special ){
						echo "<span class='sale-product'>" . $this->__('Sale') . "</span>";
					}
					?>
					
					<?php if ($_show_quickview && Mage::helper('core')->isModuleEnabled('ET_Ajax') && Mage::helper('ajax')->isQuickviewEnabled() ): ?>
						<div class="item-quickview">
							<a href="<?php echo Mage::helper('ajax')->getQuickviewUrl($_item); ?>">Quick View</a>
						</div>
					<?php endif; ?>
					
					<div class="item-wc-wrap">
						<?php if ($_show_add2wishlist && $this->helper('wishlist')->isAllow()) : ?>
							<div class="item-wishlist">
								<a href="<?php echo Mage::helper('wishlist')->getAddUrl($_item) ?>" class="link-wishlist" title="<?php echo $this->__('Add to Wishlist') ?>"><?php echo $this->__('Add to Wishlist') ?></a>
							</div>
						<?php endif; ?>
						
						<?php if ($_show_add2compare && ($_compareUrl = $this->getAddToCompareUrl($_item))) : ?>
							<div class="item-compare">
								<a href="<?php echo $_compareUrl ?>" class="link-compare" title="<?php echo $this->__('Add to Compare') ?>"><?php echo $this->__('Add to Compare') ?></a>
							</div>
						<?php endif; ?>
					</div>
				</div>
				<?php endif; // show_image ?>
				
				<div class="product-info">
					<?php if($_show_rattingbox) : ?>
					<?php echo $this->getReviewsSummaryHtml($_item, 'short', true); ?>
					<?php endif; ?>
					<?php if ($_show_title): ?>
					<?php $_itemNameStripped = $this->stripTags($_item->getName(), null, true); ?>
					<div class="product-name">
						<a href="<?php echo $_item_url; ?>" title="<?php echo $_itemNameStripped; ?>">
							<?php
							if ($_title_truncate){
								$pname = $helper->productAttribute($_item, $_item->getName() , 'name');
								echo $helper->truncate($pname, $_title_truncate, '');
							} else {
								echo $helper->productAttribute($_item, $_item->getName() , 'name');
							}
							//$debug_inf = $_item->getId();
							//$debug_inf .= '/' . $curr_page;
							//$debug_inf .= '/' . $last_page;
							//echo " [$debug_inf]";
							?>
						</a>
					</div>
					<?php endif;?>

									
					<?php if($_show_pricebox) : ?>
					<?php echo $this->getPriceHtml($_item, true, $price_idsf); ?>
					<?php endif; ?>
					
					<?php if ($_show_description) : ?>
					<div class="short-description">
					<?php
						$short_desc = $helper->productAttribute($_item, $_item->getShortDescription(), 'short_description');
						if ($length = $this->getConfig('description_truncate')) {
							echo $helper->truncate($short_desc, $length, '...');
						} else {
							echo $short_desc;
						}
					?>
					</div>
					<?php endif; ?>
					
					<?php if ($_show_add2cart) : ?>
						<?php if ($_item->isSaleable()) : ?>
						<div class="item-addcart">
							<button type="button" title="<?php echo $this->__('Add to Cart') ?>" class="button btn-cart" onclick="setLocation('<?php echo $this->getAddToCartUrl($_item) ?>')"><span><span><?php echo $this->__('Add to Cart') ?></span></span></button>
						</div>
						<?php else: ?>
						<p class="availability out-of-stock"><span><?php echo $this->__('Out of stock') ?></span></p>
						<?php endif; ?>
					<?php endif; ?>
				</div>
            </div>
        </div>
        <?php
    endforeach;
endif;
$product_list = ob_get_clean();

if ($product_list_only) :
    echo $product_list;
else:
    ?>
    <div class="tab-content-products row">
        <?php echo $product_list; ?>
    </div>
    <?php
    echo $tab_loader;
endif;